In [1]:
from collections import Counter
import csv
import datetime as dt
import itertools
import pandas as pd
from pandas.plotting import table
import math
import numpy as np
import regex as re
from matplotlib import pyplot as plt

# Import Datasets

In [2]:
business = pd.read_csv('yelp_academic_dataset_business.csv')
review = pd.read_csv('yelp_academic_dataset_review.csv')
checkin = pd.read_csv('yelp_academic_dataset_checkin.csv')

In [3]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [4]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [6]:
bus_ckn = business.merge(checkin, how = 'inner', on = 'business_id')
bus_ckn = bus_ckn.rename(columns = {'date': 'checkin_dates'})
bus_ckn = bus_ckn.dropna().reset_index(drop = True)

In [7]:
bus_ckn.shape

(104058, 15)

In [8]:
bus_ckn.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,checkin_dates
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...","2011-12-12 23:30:26, 2014-05-23 20:31:34, 2014..."
1,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...","2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010..."
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...","2010-08-18 17:05:36, 2010-11-25 17:45:31, 2011..."
3,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...","2019-06-28 21:35:09, 2019-09-12 21:07:48, 2019..."
4,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...","2012-12-16 05:27:33, 2013-02-15 04:00:46, 2013..."

# Data Cleaning

## checkin_dates

In [9]:
ckn_dts = pd.Series(bus_ckn['checkin_dates']).str.split(", ")
ckn_dts1 = pd.DataFrame(ckn_dts)
ckn_dts1.head()

                                       checkin_dates
0  [2011-12-12 23:30:26, 2014-05-23 20:31:34, 201...
1  [2010-07-25 04:30:06, 2010-08-31 04:07:22, 201...
2  [2010-08-18 17:05:36, 2010-11-25 17:45:31, 201...
3  [2019-06-28 21:35:09, 2019-09-12 21:07:48, 201...
4  [2012-12-16 05:27:33, 2013-02-15 04:00:46, 201...

In [10]:
ckn_dts_mins = list(range(ckn_dts1.shape[0]))
ckn_dts_maxs = list(range(ckn_dts1.shape[0]))
num_ckn_dts = list(range(ckn_dts1.shape[0]))
ckn_dts_freqs = list(range(ckn_dts1.shape[0]))
for i in range(ckn_dts1.shape[0]):
    ckn_dts_ls = ckn_dts1.iloc[i, 0]
    ckn_dts_len = len(ckn_dts_ls)
    ckn_dts_values = list(range(ckn_dts_len))
    ckn_dts_diff = list(range(ckn_dts_len-1))
    for j in range(ckn_dts_len):
        ckn_dts_value = dt.datetime.strptime(ckn_dts_ls[j], '%Y-%m-%d %H:%M:%S')
        ckn_dts_value = ckn_dts_value.date()
        ckn_dts_values[j] = ckn_dts_value
        if ckn_dts_len > 1:
            if j >= 1:
                ckn_dts_diff[j-1] = ckn_dts_values[j] - ckn_dts_values[j-1]
            else:
                ckn_dts_diff = ckn_dts_diff
        else:
            ckn_dts_diff = [dt.timedelta(0)]
    ckn_dts_mins[i] = min(ckn_dts_values)
    ckn_dts_maxs[i] = max(ckn_dts_values)
    num_ckn_dts[i] = ckn_dts_len
    ckn_dts_freqs[i] = sum(ckn_dts_diff, dt.timedelta(0))/len(ckn_dts_diff)
bus_ckn['earliest_checkin_date'] = ckn_dts_mins
bus_ckn['latest_checkin_date'] = ckn_dts_maxs
bus_ckn['number_of_checkins'] = num_ckn_dts
bus_ckn['average_checkin_frequency'] = ckn_dts_freqs

In [11]:
bus_ckn['average_checkin_frequency'] = bus_ckn['average_checkin_frequency'].dt.days
bus_ckn = bus_ckn.drop(columns = ['checkin_dates'])
bus_ckn.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",2011-12-12,2020-12-12,15,234
1,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",2010-07-25,2019-05-08,401,8
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",2010-08-18,2021-11-27,335,12
3,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",2019-06-28,2021-12-17,14,69
4,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",2012-12-16,2022-01-13,22,157

In [12]:
# earliest checkin dates range from 2009-12-30 to 2022-01-18
bus_ckn['earliest_checkin_date'].sort_values()

64288     2009-12-30
11940     2009-12-31
11594     2010-01-16
17580     2010-01-16
100374    2010-01-16
             ...
50986     2022-01-16
87386     2022-01-17
80203     2022-01-17
48375     2022-01-18
61183     2022-01-18
Name: earliest_checkin_date, Length: 104058, dtype: object

In [13]:
# latest checkin dates range from 2010-02-07 to 2022-01-19
bus_ckn['latest_checkin_date'].sort_values()

93436    2010-02-07
73390    2010-02-15
55919    2010-02-23
71235    2010-02-28
4325     2010-03-03
            ...
30953    2022-01-19
18079    2022-01-19
25690    2022-01-19
79767    2022-01-19
93486    2022-01-19
Name: latest_checkin_date, Length: 104058, dtype: object

In [19]:
# filter out business that were not close prior to Jan 20th, 2020
bus_2020_df = bus_ckn.loc[((bus_ckn['is_open'] == 0) & (bus_ckn['latest_checkin_date'] >= dt.date(2020, 1, 20))) | (bus_ckn['is_open'] == 1)].reset_index(drop = True)
bus_2020_df.shape

(85445, 18)

In [20]:
bus_2020_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'earliest_checkin_date',
       'latest_checkin_date', 'number_of_checkins',
       'average_checkin_frequency'],
      dtype='object')

### attributes

In [16]:
atr = bus_2020_df.iloc[:, [0, 11]]
atr.head()

              business_id                                         attributes
0  mpf3x-BjTdTEA3yCZrAYPw             {'BusinessAcceptsCreditCards': 'True'}
1  MTSW4McQd7CbVtyjqoe9mw  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
2  mWMc6_wTdE0EUBKIGXDVfA  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
3  CF33F8-E6oudUQ46HnavjQ  {'BusinessParking': 'None', 'BusinessAcceptsCr...
4  n_0UpQx1hsNbnPUSlodU8w  {'BusinessAcceptsCreditCards': 'True', 'Restau...

In [17]:
atr_dict = atr['attributes']
atr_dict = atr_dict.str.strip()
atr_dict = atr_dict.str.replace(r"u\'", "\'", regex = True)
atr_dict = atr_dict.str.replace(r"\"", "\'", regex = True)
atr_dict = atr_dict.str.replace(r"^\{", "", regex = True)
atr_dict = atr_dict.str.replace(r"\}$", "", regex = True)
atr_dict = atr_dict.str.split("', '")
atr_dict.head()

0               ['BusinessAcceptsCreditCards': 'True']
1    ['RestaurantsDelivery': 'False, OutdoorSeating...
2    ['BusinessAcceptsCreditCards': 'True, Wheelcha...
3    ['BusinessParking': 'None, BusinessAcceptsCred...
4    ['BusinessAcceptsCreditCards': 'True, Restaura...
Name: attributes, dtype: object

In [56]:
atr_df = pd.DataFrame(atr_dict)
atr_types = list()
for i in range(atr_df.shape[0]):
    atr_type = list()
    atr_df.iloc[i, 0] = pd.Series(atr_df.iloc[i, 0]).str.replace(r"\'", "", regex = True)
    atr_type = pd.Series(atr_df.iloc[i, 0]).str.extract(r"^(.+?):", expand = False)
    
    atr_df.iloc[i, 0] = pd.Series(([x] if isinstance(x, str) else x) for x in atr_df.iloc[i, 0])
    atr_df.iloc[i, 0] = list(itertools.chain(*atr_df.iloc[i, 0]))
    
    atr_type = pd.Series(([x] if isinstance(x, str) else x) for x in atr_type)
    atr_type = list(itertools.chain(*atr_type))
    atr_types.extend(atr_type)
atr_type1 = list(set(atr_types))
atr_type1

['CoatCheck',
 'RestaurantsAttire',
 'Smoking',
 'Caters',
 'RestaurantsTakeOut',
 'AcceptsInsurance',
 'HasTV',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'HappyHour',
 'Music',
 'Open24Hours',
 'DietaryRestrictions',
 'Alcohol',
 'BusinessAcceptsBitcoin',
 'ByAppointmentOnly',
 'RestaurantsPriceRange2',
 'BYOB',
 'GoodForKids',
 'WheelchairAccessible',
 'BikeParking',
 'RestaurantsTableService',
 'DogsAllowed',
 'HairSpecializesIn',
 'BusinessParking',
 'DriveThr',
 'Ambience',
 'AgesAllowed',
 'BusinessAcceptsCreditCards',
 'RestaurantsCounterService',
 'RestaurantsReservations',
 'OutdoorSeating',
 'BestNights',
 'GoodForMeal',
 'BYOBCorkage',
 'GoodForDancing',
 'NoiseLevel',
 'Corkage',
 'WiFi']

In [58]:
for i in range(len(atr_type1)):
    atr_type = str(atr_type1[i])
    atr_values = list(range(atr_df.shape[0]))
    for j in range(atr_df.shape[0]):
        atr_test = pd.Series(atr_df.iloc[j, 0]).str.contains(atr_type)
        if list(atr_test).count(True) == 0:
            atr_value = "NotApplicable"
        else:
            atr_index = list(atr_test).index(True)
            atr_value = pd.Series(atr_df.iloc[j, 0][atr_index]).str.extract(": (.+?)$", expand = False)[0]
            if (atr_value is None) or (atr_value == "None") or (atr_value == ""):
                atr_value = "NotApplicable"
        atr_values[j] = atr_value
    atr_df.insert(1+i, atr_type, atr_values)
atr_df.head()

ValueError: cannot insert CoatCheck, already exists

In [59]:
for i in range(len(atr_type1)):
    col_name = atr_type1[i]
    print(atr_df[col_name].value_counts())

NotApplicable    80845
False             4246
True               354
Name: CoatCheck, dtype: int64
NotApplicable    61479
casual           23489
dressy             435
formal              42
Name: RestaurantsAttire, dtype: int64
NotApplicable    81788
no                1985
outdoor           1419
yes                253
Name: Smoking, dtype: int64
NotApplicable    56923
True             15767
False            12755
Name: Caters, dtype: int64
NotApplicable    46691
True             35433
False             3321
Name: RestaurantsTakeOut, dtype: int64
NotApplicable    81072
True              3046
False             1327
Name: AcceptsInsurance, dtype: int64
NotApplicable    55898
True             23653
False             5894
Name: HasTV, dtype: int64
NotApplicable    50156
True             25452
False             9837
Name: RestaurantsDelivery, dtype: int64
NotApplicable    58164
True             23748
False             3533
Name: RestaurantsGoodForGroups, dtype: int64
NotApplicable    73674
True              6991
False             4780
Name: HappyHour, dtype: int64
NotApplicable                                                                                                       79593
{dj: False, background_music: False, no_music: False, jukebox: False, live: False, video: False, karaoke: False}     2178
{dj: False, background_music: False, no_music: False, jukebox: False, live: True, video: False, karaoke: False}      1255
{dj: False, background_music: False, no_music: False, jukebox: False, live: False, video: False, karaoke: None}       200
{dj: False, background_music: False, no_music: False, jukebox: True, live: False, video: False, karaoke: False}       191
                                                                                                                    ...
{dj: False, background_music: False, karaoke: False, live: False, video: False, jukebox: True}                          1
{dj: True, background_music: False, jukebox: True, live: False, video: False, karaoke: True}                            1
{dj: None, live: True, jukebox: True, video: False, background_music: False, karaoke: None, no_music: False}            1
{dj: False, background_music: False, no_music: False, jukebox: False, live: False, video: True, karaoke: False}         1
{live: False, dj: False}                                                                                                1
Name: Music, Length: 147, dtype: int64
NotApplicable    85411
False               19
True                15
Name: Open24Hours, dtype: int64
NotApplicable                                                                                                            85423
{dairy-free: False, gluten-free: True, vegan: False, kosher: False, halal: False, soy-free: False, vegetarian: False}       11
{dairy-free: True, gluten-free: True, vegan: True, kosher: False, halal: False, soy-free: True, vegetarian: True}            4
{dairy-free: False, gluten-free: True, vegan: False, kosher: False, halal: False, soy-free: False, vegetarian: True}         1
{dairy-free: True, gluten-free: True, vegan: True, kosher: False, halal: False, soy-free: False, vegetarian: True}           1
{dairy-free: False, gluten-free: False, vegan: True, kosher: False, halal: False, soy-free: False, vegetarian: False}        1
{dairy-free: False, gluten-free: False, vegan: True, kosher: False, halal: False, soy-free: False, vegetarian: True}         1
{dairy-free: True, gluten-free: False, vegan: True, kosher: False, halal: False, soy-free: False, vegetarian: False}         1
{dairy-free: False, gluten-free: False, vegan: True, kosher: False, halal: True, soy-free: False, vegetarian: True}          1
{dairy-free: False, gluten-free: False, vegan: False, kosher: False, halal: False, soy-free: False, vegetarian: True}        1
Name: DietaryRestrictions, dtype: int64
NotApplicable    57952
none             13454
full_bar          9933
beer_and_wine     4106
Name: Alcohol, dtype: int64
NotApplicable    73586
False            11587
True               272
Name: BusinessAcceptsBitcoin, dtype: int64
NotApplicable    57226
False            19343
True              8876
Name: ByAppointmentOnly, dtype: int64
2                32218
NotApplicable    29996
1                18373
3                 4173
4                  685
Name: RestaurantsPriceRange2, dtype: int64
NotApplicable    80473
False             3199
True               913
no                 445
yes_free           359
yes_corkage         56
Name: BYOB, dtype: int64
NotApplicable    52323
True             27826
False             5296
Name: GoodForKids, dtype: int64
NotApplicable    61931
True             21429
False             2085
Name: WheelchairAccessible, dtype: int64
True             39507
NotApplicable    33773
False            12165
Name: BikeParking, dtype: int64
NotApplicable    69859
True              9935
False             5651
Name: RestaurantsTableService, dtype: int64
NotApplicable    69843
False            10671
True              4931
Name: DogsAllowed, dtype: int64
NotApplicable                                                                                                                                84574
{straightperms: False, coloring: False, extensions: False, africanamerican: False, curly: False, kids: False, perms: False, asian: False}      103
{straightperms: True, coloring: True, extensions: True, africanamerican: True, curly: True, kids: True, perms: True, asian: True}               74
{africanamerican: False, asian: False, curly: True, perms: True, extensions: True, straightperms: False, coloring: True, kids: True}            64
{straightperms: False, coloring: True, extensions: True, africanamerican: False, curly: False, kids: False, perms: False, asian: False}         40
                                                                                                                                             ...
{straightperms: True, coloring: False, extensions: True, africanamerican: True, curly: True, kids: False, perms: False, asian: False}            1
{straightperms: False, coloring: True, extensions: False, africanamerican: False, curly: False, kids: False, perms: False, asian: True}          1
{perms: True, coloring: True, extensions: False, curly: False, kids: True}                                                                       1
{africanamerican: True, asian: True, curly: True, perms: True, extensions: False, straightperms: True, coloring: True, kids: True}               1
{straightperms: False, coloring: False, extensions: True, africanamerican: True, curly: True, kids: False, perms: False, asian: True}            1
Name: HairSpecializesIn, Length: 141, dtype: int64
NotApplicable                                                                 26672
{garage: False, street: False, validated: False, lot: True, valet: False}     23940
{garage: False, street: False, validated: False, lot: False, valet: False}    13094
{garage: False, street: True, validated: False, lot: False, valet: False}      7969
{garage: False, street: True, validated: False, lot: True, valet: False}       3963
                                                                              ...
{valet: False, garage: None, street: True, lot: None, validated: True}            1
{valet: False, garage: True, street: False, lot: True, validated: None}           1
{garage: True, street: True, validated: None, lot: True, valet: False}            1
{valet: False, garage: False, street: True, lot: True, validated: True}           1
{valet: False, garage: True, street: True, lot: True, validated: True}            1
Name: BusinessParking, Length: 155, dtype: int64
NotApplicable    79232
True              4046
False             2167
Name: DriveThr, dtype: int64
NotApplicable                                                                                                                                     57104
{touristy: False, hipster: False, romantic: False, divey: False, intimate: False, trendy: False, upscale: False, classy: False, casual: False}     4467
{romantic: False, intimate: False, classy: False, hipster: False, divey: False, touristy: False, trendy: False, upscale: False, casual: False}     2656
{romantic: False, intimate: False, classy: False, hipster: False, divey: False, touristy: False, trendy: False, upscale: False, casual: True}      2133
{romantic: False, intimate: False, touristy: False, hipster: False, divey: False, classy: False, trendy: False, upscale: False, casual: True}      1970
                                                                                                                                                  ...
{touristy: False, hipster: False, romantic: True, divey: False, intimate: True, trendy: False, upscale: None, classy: True, casual: True}             1
{divey: True, hipster: False, casual: None, touristy: False, trendy: None, intimate: False, romantic: False, classy: None, upscale: False}            1
{touristy: False, hipster: False, romantic: None, divey: False, intimate: True, trendy: False, upscale: None, classy: True, casual: False}            1
{divey: None, hipster: False, casual: True, touristy: None, trendy: True, intimate: False, romantic: False, classy: False, upscale: True}             1
{hipster: False, casual: True, touristy: None, trendy: None, intimate: None, romantic: False, classy: None, upscale: False}                           1
Name: Ambience, Length: 2235, dtype: int64
NotApplicable    85329
allages             75
21plus              37
18plus               4

Name: AgesAllowed, dtype: int64
True             73149
NotApplicable     9519
False             2777
Name: BusinessAcceptsCreditCards, dtype: int64
NotApplicable    85427
True                15
False                3
Name: RestaurantsCounterService, dtype: int64
NotApplicable    56592
False            19837
True              9016
Name: RestaurantsReservations, dtype: int64
NotApplicable    55744
True             14967
False            14734
Name: OutdoorSeating, dtype: int64
NotApplicable                                                                                                        80749
{monday: False, tuesday: False, friday: False, wednesday: False, thursday: False, sunday: False, saturday: False}      773
{monday: False, tuesday: False, friday: True, wednesday: False, thursday: True, sunday: False, saturday: True}         728
{monday: False, tuesday: False, friday: True, wednesday: False, thursday: False, sunday: True, saturday: True}         310
{monday: False, tuesday: False, friday: False, wednesday: False, thursday: False, sunday: False, saturday: True}       253
                                                                                                                     ...
{monday: False, tuesday: True, wednesday: True, thursday: False, friday: False, saturday: False, sunday: False}          1
{monday: True, tuesday: False, wednesday: False, thursday: True, friday: False, saturday: False, sunday: True}           1
{monday: False, tuesday: True, wednesday: False, thursday: False, friday: True, saturday: False, sunday: False}          1
{monday: False, tuesday: True, wednesday: False, thursday: True, friday: False, saturday: False, sunday: True}           1
{monday: False, tuesday: False, wednesday: True, thursday: False, friday: False, saturday: True, sunday: True}           1
Name: BestNights, Length: 114, dtype: int64
NotApplicable                                                                                       63647
{dessert: False, latenight: False, lunch: False, dinner: False, brunch: False, breakfast: False}     6144
{dessert: False, latenight: False, lunch: True, dinner: True, brunch: False, breakfast: False}       3318
{dessert: False, latenight: False, lunch: True, dinner: False, brunch: False, breakfast: False}      1533
{dessert: False, latenight: False, lunch: False, dinner: True, brunch: False, breakfast: False}       808
                                                                                                    ...
{dessert: None, latenight: False, lunch: None, dinner: False, brunch: None, breakfast: None}            1
{dessert: False, latenight: False, lunch: None, dinner: None, brunch: None, breakfast: False}           1
{dessert: False, latenight: False, lunch: None, dinner: True, brunch: True, breakfast: None}            1
{breakfast: True, brunch: True, lunch: True, dinner: None, latenight: True, dessert: True}              1
{dessert: True, latenight: False, lunch: None, dinner: True, brunch: True, breakfast: None}             1
Name: GoodForMeal, Length: 508, dtype: int64
NotApplicable    84580
no                 447
yes_free           361
yes_corkage         57
Name: BYOBCorkage, dtype: int64
NotApplicable    81945
False             2887
True               613
Name: GoodForDancing, dtype: int64
NotApplicable    61107
average          17825
quiet             4035
loud              1866
very_loud          612
Name: NoiseLevel, dtype: int64
NotApplicable    81756
False             2048
True               993
no                 415
yes_free           206
yes_corkage         27
Name: Corkage, dtype: int64
NotApplicable    45226
free             25983
no               13864
paid               372
Name: WiFi, dtype: int64

In [61]:
# drop attribute columns "Open24Hours", "DietaryRestrictions", "HairSpecializesIn", "AgesAllowed", "RestaurantsCounterService", "BYOBCorkage"
atr_df = atr_df.drop(columns = ['attributes', 'Open24Hours', 'DietaryRestrictions', 'HairSpecializesIn', 'AgesAllowed', 'RestaurantsCounterService', 'BYOBCorkage'])

### GoodForMeal

In [64]:
gfm = pd.Series(atr_df['GoodForMeal']).str.strip("{|}")
gfm1 = pd.Series(gfm).str.split(", ")
gfm_df = pd.DataFrame(gfm1)
gfm_df.head(20)

                                          GoodForMeal
0                                     [NotApplicable]
1                                     [NotApplicable]
2                                     [NotApplicable]
3                                     [NotApplicable]
4                                     [NotApplicable]
5                                     [NotApplicable]
6                                     [NotApplicable]
7   [dessert: False, latenight: False, lunch: Fals...
8                                     [NotApplicable]
9   [dessert: True, latenight: None, lunch: None, ...
10                                    [NotApplicable]
11                                    [NotApplicable]
12  [dessert: False, latenight: False, lunch: True...
13                                    [NotApplicable]
14                                    [NotApplicable]
15  [dessert: None, latenight: False, lunch: True,...
16                                    [NotApplicable]
17  [dessert: None, latenight: None, lunch: None, ...
18  [dessert: False, latenight: False, lunch: Fals...
19                                    [NotApplicable]

In [65]:
gfm_types = ['breakfast', 'brunch', 'lunch', 'dinner', 'latenight', 'dessert']
for i in range(gfm_df.shape[0]):
    if gfm_df.iloc[i, 0] != ["NotApplicable"]:
        gfm_values = []
        for gfm_type in gfm_types:
            gfm_test = pd.Series(gfm_df.iloc[i, 0]).str.contains(gfm_type)
            if list(gfm_test).count(True) != 0:
                gfm_index = list(gfm_test).index(True)
                gfm_value = pd.Series(gfm_df.iloc[i, 0][gfm_index]).str.extract(": (.+?)$", expand = False)[0]
                if (gfm_value == True) or (gfm_value == "True"):
                    gfm_values.append(gfm_type)
                elif (gfm_value == False) or (gfm_value == "False") or (gfm_value == "None"):
                    gfm_values = gfm_values
            else:
                gfm_values = gfm_values
        if gfm_values == []:
            gfm_df.iloc[i, 0] = "None"
        else:
            gfm_df.iloc[i, 0] = gfm_values
    else:
        gfm_df.iloc[i, 0] = "NotApplicable"
gfm_df.head(20)

          GoodForMeal
0       NotApplicable
1       NotApplicable
2       NotApplicable
3       NotApplicable
4       NotApplicable
5       NotApplicable
6       NotApplicable
7                None
8       NotApplicable
9   [dinner, dessert]
10      NotApplicable
11      NotApplicable
12    [lunch, dinner]
13      NotApplicable
14      NotApplicable
15    [lunch, dinner]
16      NotApplicable
17           [dinner]
18           [brunch]
19      NotApplicable

In [66]:
gfm_df['GoodForMeal'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NotApplicable                              63647
None                                        6229
[lunch, dinner]                             5956
[dinner]                                    2479
[lunch]                                     2039
                                           ...
[brunch, dinner, latenight, dessert]           2
[breakfast, brunch, latenight, dessert]        1
[brunch, lunch, latenight, dessert]            1
[brunch, latenight, dessert]                   1
[brunch, lunch, latenight]                     1
Name: GoodForMeal, Length: 62, dtype: int64

### Ambience

In [68]:
# touristy, hipster, romantic, divey, intimate, trendy, upscale, classy, casual
amb = pd.Series(atr_df['Ambience']).str.strip("{|}")
amb1 = pd.Series(amb).str.split(", ")
amb_df = pd.DataFrame(amb1)
amb_df.head(20)

                                             Ambience
0                                     [NotApplicable]
1                                     [NotApplicable]
2                                     [NotApplicable]
3                                     [NotApplicable]
4                                     [NotApplicable]
5                                     [NotApplicable]
6                                     [NotApplicable]
7   [touristy: None, hipster: None, romantic: Fals...
8                                     [NotApplicable]
9   [touristy: False, hipster: False, romantic: Fa...
10                                    [NotApplicable]
11                                    [NotApplicable]
12  [touristy: False, hipster: False, romantic: Fa...
13                                    [NotApplicable]
14                                    [NotApplicable]
15  [divey: False, hipster: False, casual: True, t...
16                                    [NotApplicable]
17  [touristy: False, hipster: False, romantic: Fa...
18  [touristy: False, hipster: True, romantic: Non...
19                                    [NotApplicable]

In [69]:
amb_types = ["touristy", "hipster", "romantic", "divey", "intimate", "trendy", "upscale", "classy", "casual"]
for i in range(amb_df.shape[0]):
    if amb_df.iloc[i, 0] != ["NotApplicable"]:
        amb_values = []
        for amb_type in amb_types:
            amb_test = pd.Series(amb_df.iloc[i, 0]).str.contains(amb_type)
            if list(amb_test).count(True) != 0:
                amb_index = list(amb_test).index(True)
                amb_value = pd.Series(amb_df.iloc[i, 0][amb_index]).str.extract(": (.+?)$", expand = False)[0]
                if (amb_value == True) or (amb_value == "True"):
                    amb_values.append(amb_type)
                elif (amb_value == False) or (amb_value == "False") or (amb_value == "None"):
                    amb_values = amb_values
            else:
                amb_values = amb_values
        if amb_values == []:
            amb_df.iloc[i, 0] = "None"
        else:
            amb_df.iloc[i, 0] = amb_values
    else:
        amb_df.iloc[i, 0] = "NotApplicable"
amb_df.head(20)

             Ambience
0       NotApplicable
1       NotApplicable
2       NotApplicable
3       NotApplicable
4       NotApplicable
5       NotApplicable
6       NotApplicable
7            [casual]
8       NotApplicable
9            [classy]
10      NotApplicable
11      NotApplicable
12           [casual]
13      NotApplicable
14      NotApplicable
15           [casual]
16      NotApplicable
17           [classy]
18  [hipster, casual]
19      NotApplicable

### Music

In [70]:
# dj, background_music, no_music, jukebox, live, video, karaoke
mus = pd.Series(atr_df['Music']).str.strip("{|}")
mus1 = pd.Series(mus).str.split(", ")
mus_df = pd.DataFrame(mus1)
mus_df.head(20)

                                                Music
0                                     [NotApplicable]
1                                     [NotApplicable]
2                                     [NotApplicable]
3                                     [NotApplicable]
4                                     [NotApplicable]
5                                     [NotApplicable]
6                                     [NotApplicable]
7                                     [NotApplicable]
8                                     [NotApplicable]
9                                     [NotApplicable]
10                                    [NotApplicable]
11                                    [NotApplicable]
12                                    [NotApplicable]
13                                    [NotApplicable]
14                                    [NotApplicable]
15                                    [NotApplicable]
16                                    [NotApplicable]
17                                    [NotApplicable]
18  [dj: False, background_music: False, no_music:...
19                                    [NotApplicable]

In [71]:
mus_types = ["dj", "background_music", "no_music", "jukebox", "live", "video", "karaoke"]
for i in range(mus_df.shape[0]):
    if mus_df.iloc[i, 0] != ["NotApplicable"]:
        mus_values = []
        for mus_type in mus_types:
            mus_test = pd.Series(mus_df.iloc[i, 0]).str.contains(mus_type)
            if list(mus_test).count(True) != 0:
                mus_index = list(mus_test).index(True)
                mus_value = pd.Series(mus_df.iloc[i, 0][mus_index]).str.extract(": (.+?)$", expand = False)[0]
                if (mus_value == True) or (mus_value == "True"):
                    mus_values.append(mus_type)
                elif (mus_value == False) or (mus_value == "False") or (mus_value == "None"):
                    mus_values = mus_values
            else:
                mus_values = mus_values
        if mus_values == []:
            mus_df.iloc[i, 0] = "other_music"
        elif mus_values == ["no_music"]:
            mus_df.iloc[i, 0] = "None"
        elif (len(mus_values) > 1) and ("no_music" in mus_values):
            mus_df.iloc[i, 0] = mus_values - ["no_music"]
        else:
            mus_df.iloc[i, 0] = mus_values
    else:
        mus_df.iloc[i, 0] = "NotApplicable"
mus_df.head(20)

            Music
0   NotApplicable
1   NotApplicable
2   NotApplicable
3   NotApplicable
4   NotApplicable
5   NotApplicable
6   NotApplicable
7   NotApplicable
8   NotApplicable
9   NotApplicable
10  NotApplicable
11  NotApplicable
12  NotApplicable
13  NotApplicable
14  NotApplicable
15  NotApplicable
16  NotApplicable
17  NotApplicable
18    other_music
19  NotApplicable

### BusinessParking

In [72]:
# garage, street, validated, lot, valet
bsp = pd.Series(atr_df['BusinessParking']).str.strip("{|}")
bsp1 = pd.Series(bsp).str.split(", ")
bsp_df = pd.DataFrame(bsp1)
bsp_df.head(20)

                                      BusinessParking
0                                     [NotApplicable]
1   [garage: False, street: True, validated: False...
2   [garage: None, street: None, validated: None, ...
3                                     [NotApplicable]
4   [garage: False, street: False, validated: Fals...
5   [garage: False, street: False, validated: Fals...
6   [garage: False, street: False, validated: Fals...
7   [garage: None, street: False, validated: None,...
8                                     [NotApplicable]
9   [valet: False, garage: None, street: True, lot...
10                                    [NotApplicable]
11  [garage: False, street: True, validated: False...
12  [garage: False, street: True, validated: False...
13  [garage: False, street: False, validated: Fals...
14                                    [NotApplicable]
15  [garage: False, street: False, validated: Fals...
16  [garage: True, street: False, validated: False...
17  [garage: True, street: False, validated: True,...
18  [garage: None, street: True, validated: None, ...
19                                    [NotApplicable]

In [73]:
bsp_types = ["garage", "street", "validated", "lot", "valet"]
for i in range(bsp_df.shape[0]):
    if bsp_df.iloc[i, 0] != ["NotApplicable"]:
        bsp_values = []
        for bsp_type in bsp_types:
            bsp_test = pd.Series(bsp_df.iloc[i, 0]).str.contains(bsp_type)
            if list(bsp_test).count(True) != 0:
                bsp_index = list(bsp_test).index(True)
                bsp_value = pd.Series(bsp_df.iloc[i, 0][bsp_index]).str.extract(": (.+?)$", expand = False)[0]
                if (bsp_value == True) or (bsp_value == "True"):
                    bsp_values.append(bsp_type)
                elif (bsp_value == False) or (bsp_value == "False") or (bsp_value == "None"):
                    bsp_values = bsp_values
            else:
                bsp_values = bsp_values
        if bsp_values == []:
            bsp_df.iloc[i, 0] = "None"
        else:
            bsp_df.iloc[i, 0] = bsp_values
    else:
        bsp_df.iloc[i, 0] = "NotApplicable"
bsp_df.head(20)

               BusinessParking
0                NotApplicable
1                     [street]
2                        [lot]
3                NotApplicable
4                        [lot]
5                         None
6                         None
7                        [lot]
8                NotApplicable
9                     [street]
10               NotApplicable
11                    [street]
12                    [street]
13                       [lot]
14               NotApplicable
15                       [lot]
16                    [garage]
17  [garage, validated, valet]
18                    [street]
19               NotApplicable

### BestNights

In [74]:
# monday, tuesday, friday, wednesday, thursday, sunday, saturday
bnt = pd.Series(atr_df['BestNights']).str.strip("{|}")
bnt1 = pd.Series(bnt).str.split(", ")
bnt_df = pd.DataFrame(bnt1)
bnt_df.head(20)

         BestNights
0   [NotApplicable]
1   [NotApplicable]
2   [NotApplicable]
3   [NotApplicable]
4   [NotApplicable]
5   [NotApplicable]
6   [NotApplicable]
7   [NotApplicable]
8   [NotApplicable]
9   [NotApplicable]
10  [NotApplicable]
11  [NotApplicable]
12  [NotApplicable]
13  [NotApplicable]
14  [NotApplicable]
15  [NotApplicable]
16  [NotApplicable]
17  [NotApplicable]
18  [NotApplicable]
19  [NotApplicable]

In [75]:
bnt_types = ["garage", "street", "validated", "lot", "valet"]
for i in range(bnt_df.shape[0]):
    if bnt_df.iloc[i, 0] != ["NotApplicable"]:
        bnt_values = []
        for bnt_type in bnt_types:
            bnt_test = pd.Series(bnt_df.iloc[i, 0]).str.contains(bnt_type)
            if list(bnt_test).count(True) != 0:
                bnt_index = list(bnt_test).index(True)
                bnt_value = pd.Series(bnt_df.iloc[i, 0][bnt_index]).str.extract(": (.+?)$", expand = False)[0]
                if (bnt_value == True) or (bnt_value == "True"):
                    bnt_values.append(bnt_type)
                elif (bnt_value == False) or (bnt_value == "False") or (bnt_value == "None"):
                    bnt_values = bnt_values
            else:
                bnt_values = bnt_values
        if bnt_values == []:
            bnt_df.iloc[i, 0] = "None"
        else:
            bnt_df.iloc[i, 0] = bnt_values
    else:
        bnt_df.iloc[i, 0] = "NotApplicable"
bnt_df.head(20)

       BestNights
0   NotApplicable
1   NotApplicable
2   NotApplicable
3   NotApplicable
4   NotApplicable
5   NotApplicable
6   NotApplicable
7   NotApplicable
8   NotApplicable
9   NotApplicable
10  NotApplicable
11  NotApplicable
12  NotApplicable
13  NotApplicable
14  NotApplicable
15  NotApplicable
16  NotApplicable
17  NotApplicable
18  NotApplicable
19  NotApplicable

In [76]:
atr_df['GoodForMeal'] = gfm_df['GoodForMeal']
atr_df['Ambience'] = amb_df['Ambience']
atr_df['Music'] = mus_df['Music']
atr_df['BusinessParking'] = bsp_df['BusinessParking']
atr_df['BestNights'] = bnt_df['BestNights']
atr_df['business_id'] = atr['business_id']
atr_df.head()
atr_df.value_counts()

NameError: name 'gfm_df' is not defined

In [21]:
bus_final_df = bus_2020_df.drop(columns = ['attributes', 'address', 'postal_code', 'hours'])
bus_final_df.head()

,business_id,name,city,state,latitude,longitude,stars,review_count,is_open,categories,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma...",2011-12-12,2020-12-12,15,234
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",2010-08-18,2021-11-27,335,12
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food",2019-06-28,2021-12-17,14,69
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,36.269593,-87.058943,2.0,6,1,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",2012-12-16,2022-01-13,22,157
4,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,Brentwood,MO,38.627695,-90.340465,2.5,13,1,"Sporting Goods, Fashion, Shoe Stores, Shopping...",2010-08-30,2019-06-13,79,41

### categories

In [86]:
cat = bus_final_df.iloc[:, [0, 12]]
cat.head()

              business_id                                         categories
0  mpf3x-BjTdTEA3yCZrAYPw  Shipping Centers, Local Services, Notaries, Ma...
1  MTSW4McQd7CbVtyjqoe9mw  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
2  mWMc6_wTdE0EUBKIGXDVfA                          Brewpubs, Breweries, Food
3  CF33F8-E6oudUQ46HnavjQ  Burgers, Fast Food, Sandwiches, Food, Ice Crea...
4  n_0UpQx1hsNbnPUSlodU8w  Sporting Goods, Fashion, Shoe Stores, Shopping...

In [87]:
cat_dict = cat['categories']
cat_dict = cat_dict.str.strip()
cat_dict = cat_dict.str.split(", ")
cat_dict.head()

0    [Shipping Centers, Local Services, Notaries, M...
1    [Restaurants, Food, Bubble Tea, Coffee & Tea, ...
2                          [Brewpubs, Breweries, Food]
3    [Burgers, Fast Food, Sandwiches, Food, Ice Cre...
4    [Sporting Goods, Fashion, Shoe Stores, Shoppin...
Name: categories, dtype: object

In [92]:
cat_df = pd.DataFrame(cat_dict)
cat_types = list()
for i in range(cat_df.shape[0]):
    cat_type = pd.Series(([x] if isinstance(x, str) else x) for x in cat_df.iloc[i, 0])
    cat_type = list(itertools.chain(*cat_type))
    cat_types.extend(cat_type)
cat_type1 = list(set(cat_types))
cat_type1

['Pool Cleaners',
 'Tabletop Games',
 'Teacher Supplies',
 'Czech',
 'Scooter Tours',
 'Architectural Tours',
 'Farming Equipment',
 'Sandblasting',
 'Mobile Dent Repair',
 'Himalayan/Nepalese',
 'Specialty Food',
 'Sicilian',
 'Optometrists',
 'Carpenters',
 'Kickboxing',
 'Argentine',
 'Public Adjusters',
 'Music & DVDs',
 'Paddleboarding',
 'Motorcycle Dealers',
 'Chimney Sweeps',
 'Haunted Houses',
 'Personal Care Services',
 'Career Counseling',
 'Breweries',
 'Grocery',
 'Hardware Stores',
 'Discount Store',
 'Painters',
 'Sex Therapists',
 'Holiday Decorations',
 'Propane',
 'Embroidery & Crochet',
 'Solar Installation',
 'Custom Cakes',
 'Rehabilitation Center',
 'Contractors',
 'Firearm Training',
 'Sailing',
 'Shaved Snow',
 'CPR Classes',
 'Fashion',
 'Criminal Defense Law',
 'Knitting Supplies',
 'Musicians',
 'Paint & Sip',
 'Petting Zoos',
 'Oxygen Bars',
 'Indonesian',
 'International Grocery',
 'Ticket Sales',
 'Astrologers',
 'Scottish',
 'Private Investigation',
 'Patisserie/Cake Shop',
 'Toy Stores',
 'Auto Insurance',
 'Shaved Ice',
 'Airport Shuttles',
 'Talent Agencies',
 'Rest Stops',
 'Surf Schools',
 'Axe Throwing',
 'Beer Gardens',
 'Orthopedists',
 'Concept Shops',
 'Paint Stores',
 'Auto Glass Services',
 'Piano Stores',
 'Virtual Reality Centers',
 'Bike Parking',
 'Estate Liquidation',
 'Naturopathic/Holistic',
 'Restaurants',
 'Videographers',
 'Furniture Stores',
 'Doulas',
 'Employment Law',
 'Demolition Services',
 'Cafeteria',
 'Party & Event Planning',
 'Tui Na',
 'Amusement Parks',
 'Dermatologists',
 'Georgian',
 'Blow Dry/Out Services',
 'Nightlife',
 'Addiction Medicine',
 'Cards & Stationery',
 'Shoe Repair',
 'Acne Treatment',
 'Buses',
 'Ethnic Food',
 'Eyewear & Opticians',
 'Farmers Market',
 'Ski & Snowboard Shops',
 'Pizza',
 'Strip Clubs',
 'Tiki Bars',
 'Tax Law',
 'Nutritionists',
 'Wine Tours',
 'Junkyards',
 'Art Galleries',
 'Wraps',
 'Air Duct Cleaning',
 'Roadside Assistance',
 'Arts & Entertainment',
 'Christmas Trees',
 'Tanning',
 'Cheerleading',
 'Guitar Stores',
 'Hotels',
 'Fireworks',
 'Boating',
 'Nanny Services',
 'Gerontologists',
 'Floral Designers',
 'Pan Asian',
 'Session Photography',
 'Chicken Shop',
 'Ukrainian',
 'Tasting Classes',
 'Race Tracks',
 'Unofficial Yelp Events',
 'Trampoline Parks',
 'Stadiums & Arenas',
 'Security Systems',
 'Kebab',
 'Perfume',
 'Office Cleaning',
 'Middle Schools & High Schools',
 'Thai',
 'Traffic Schools',
 'Hostels',
 'Bus Tours',
 'Striptease Dancers',
 'Hats',
 'IV Hydration',
 'Home Inspectors',
 'Kids Hair Salons',
 'Foundation Repair',
 'Bookstores',
 'Bail Bondsmen',
 'Airsoft',
 'Driving Schools',
 'Accountants',
 'Mailbox Centers',
 'Solar Panel Cleaning',
 'Uniforms',
 'Fabric Stores',
 'Leisure Centers',
 'Squash',
 'Apartment Agents',
 'Shoe Shine',
 'Recording & Rehearsal Studios',
 'Drive-In Theater',
 'Irish Pub',
 'Hungarian',
 'Security Services',
 'Afghan',
 'Churches',
 'DIY Auto Shop',
 'Indian',
 'Car Share Services',
 'Flyboarding',
 'Self Storage',
 'Pet Stores',
 'Party Equipment Rentals',
 'Boat Dealers',
 'Bankruptcy Law',
 'Traditional Chinese Medicine',
 'Hybrid Car Repair',
 'Behavior Analysts',
 'Junk Removal & Hauling',
 'Packing Services',
 'Wine & Spirits',
 'Fingerprinting',
 'International',
 'Cabinetry',
 'Vinyl Records',
 'Oriental',
 'Tennis',
 'Concierge Medicine',
 'Butcher',
 'Muay Thai',
 'Veterinarians',
 'Event Planning & Services',
 'Art Restoration',
 'Waldorf Schools',
 'Dietitians',
 'Musical Instruments & Teachers',
 'Internal Medicine',
 'Memory Care',
 'Business Consulting',
 'Fuzhou',
 'Kosher',
 'Leather Goods',
 'Architects',
 'Cremation Services',
 'Art Classes',
 'Buddhist Temples',
 'Neuropathologists',
 'Health Markets',
 'Antiques',
 'Pet Groomers',
 'Soul Food',
 'Recycling Center',
 'Public Markets',
 'Country Clubs',
 'Windows Installation',
 'University Housing',
 'Salvadoran',
 'Cardio Classes',
 'Conveyor Belt Sushi',
 'Pita',
 'Telecommunications',
 'Skin Care',
 'Adult Entertainment',
 'Performing Arts',
 'Middle Eastern',
 'Fur Clothing',
 'Plus Size Fashion',
 'Prosthodontists',
 'Cinema',
 'Workers Compensation Law',
 'Medical Centers',
 'Poke',
 'Pole Dancing Classes',
 'Bingo Halls',
 'Firewood',
 'Shared Office Spaces',
 'Lighting Fixtures & Equipment',
 'Radio Stations',
 'Eyelash Service',
 'Holiday Decorating Services',
 'Ultrasound Imaging Centers',
 'CSA',
 'Installment Loans',
 'Tapas Bars',
 'Persian/Iranian',
 'Life Insurance',
 'Translation Services',
 'Automotive',
 'Payroll Services',
 'Trains',
 'Armenian',
 'Life Coach',
 'Festivals',
 'Pop-Up Restaurants',
 'Sushi Bars',
 'Divorce & Family Law',
 'Town Car Service',
 'Local Flavor',
 'Cannabis Dispensaries',
 'Trailer Repair',
 'Singaporean',
 'Baseball Fields',
 'Pretzels',
 'General Litigation',
 'Basketball Courts',
 'Cardiologists',
 'Cycling Classes',
 'Casinos',
 'Wholesalers',
 'Botanical Gardens',
 'Home Energy Auditors',
 'Endodontists',
 'Soup',
 'New Mexican Cuisine',
 'Medical Spas',
 'Trailer Rental',
 'Horse Boarding',
 'Courthouses',
 'Web Design',
 'Pasta Shops',
 'Music Venues',
 'Mobile Phone Repair',
 'Farms',
 'Spanish',
 'Cocktail Bars',
 'Boat Tours',
 'Sport Equipment Hire',
 'Beer Bar',
 'Crisis Pregnancy Centers',
 'Arabic',
 'Car Window Tinting',
 'Vehicle Shipping',
 'Food Trucks',
 'Electronics',
 'Cooking Classes',
 'Tires',
 'Furniture Reupholstery',
 'Climbing',
 'Pickleball',
 'Fireplace Services',
 'Lawyers',
 'Party Bike Rentals',
 'Watch Repair',
 'Boat Parts & Supplies',
 'Sporting Goods',
 'Taxidermy',
 'Health Retreats',
 'Pick Your Own Farms',
 'Sports Medicine',
 'Honduran',
 'Interval Training Gyms',
 'Embassy',
 'Food Tours',
 'Party Characters',
 'Blood & Plasma Donation Centers',
 'Home Organization',
 'Airport Terminals',
 'Environmental Abatement',
 'Szechuan',
 'Walk-in Clinics',
 'Parenting Classes',
 'Outdoor Power Equipment Services',
 'Challenge Courses',
 'Home Developers',
 'Golf',
 'Used Car Dealers',
 'Organic Stores',
 'Massage Therapy',
 'Roof Inspectors',
 'Patio Coverings',
 'Television Service Providers',
 'Supernatural Readings',
 'Coffeeshops',
 'Mobile Home Parks',
 'Adult Education',
 'Hair Stylists',
 'Well Drilling',
 'Aquarium Services',
 'Trusts',
 'Snow Removal',
 'Fitness & Instruction',
 'Pet Sitting',
 'Tiling',
 'Austrian',
 'Religious Items',
 'Livestock Feed & Supply',
 'Pilates',
 'Real Estate Law',
 'Hospitalists',
 'Historical Tours',
 'Auto Loan Providers',
 'TV Mounting',
 'Fire Protection Services',
 'Restaurant Supplies',
 'Hot Pot',
 'Home & Garden',
 'Lice Services',
 'Jewelry',
 'Comic Books',
 'Education',
 'Customized Merchandise',
 'Accessories',
 'Car Stereo Installation',
 'Home & Rental Insurance',
 'Cheese Shops',
 'Clock Repair',
 'Oil Change Stations',
 'Occupational Therapy',
 'Eatertainment',
 'Laser Eye Surgery/Lasik',
 'Commercial Truck Repair',
 'Serbo Croatian',
 'Sunglasses',
 'Outdoor Furniture Stores',
 'Car Wash',
 'Hearing Aid Providers',
 'Seafood Markets',
 'Hydrotherapy',
 'Donuts',
 'Aerial Tours',
 'Carpet Installation',
 'Window Washing',
 'Henna Artists',
 'Taekwondo',
 'Parks',
 'Greek',
 'Aestheticians',
 'General Dentistry',
 'Pet Training',
 'Real Estate Agents',
 'Packing Supplies',
 'Mags',
 'Surfing',
 'Scavenger Hunts',
 'Meaderies',
 'Massage Schools',
 'Free Diving',
 'Diving',
 'Steakhouses',
 'Dive Bars',
 'Tattoo',
 'Dry Cleaning & Laundry',
 'Korean',
 'Notaries',
 'Grilling Equipment',
 'Cannabis Tours',
 'Auto Security',
 'Used Bookstore',
 'Assisted Living Facilities',
 'Psychics',
 'Motorcycle Parts & Supplies',
 'Damage Restoration',
 'Shopping',
 'Product Design',
 'Gluten-Free',
 'Dry Cleaning',
 'Audiologist',
 'ATV Rentals/Tours',
 'Real Estate',
 'Vegetarian',
 'Excavation Services',
 'Safe Stores',
 'Wills',
 'Shades & Blinds',
 'Gyms',
 'Personal Chefs',
 'Bridal',
 'Circuit Training Gyms',
 'Horseback Riding',
 'Mortgage Brokers',
 'Tuscan',
 'Syrian',
 'Waterproofing',
 'Train Stations',
 'Pediatric Dentists',
 'Gemstones & Minerals',
 'Pakistani',
 'Souvenir Shops',
 'Brewing Supplies',
 'Internet Cafes',
 'Candy Stores',
 'Hockey Equipment',
 'Barbers',
 'Ziplining',
 'Biohazard Cleanup',
 'Kombucha',
 'Truck Rental',
 'Countertop Installation',
 'Roofing',
 'First Aid Classes',
 'Insulation Installation',
 'High Fidelity Audio Equipment',
 'Billing Services',
 'Public Services & Government',
 'Retirement Homes',
 'Dim Sum',
 'Pet Transportation',
 'Hot Dogs',
 'Art Consultants',
 'Yoga',
 'Japanese',
 'Moroccan',
 'Olive Oil',
 'Sports Wear',
 'Cheesesteaks',
 'Registration Services',
 'Golf Lessons',
 'Outdoor Gear',
 'Amateur Sports Teams',
 'Skate Parks',
 'Planetarium',
 'Calligraphy',
 'Bookbinding',
 'American (New)',
 'Buffets',
 'Officiants',
 'Employment Agencies',
 'Bars',
 'Lactation Services',
 'Mobile Phones',
 "Children's Museums",
 'Barbeque',
 'Egyptian',
 'Hospitals',
 'Post Offices',
 'Vintage & Consignment',
 'Travel Services',
 'Florists',
 'Party Supplies',
 'Sandwiches',
 'Watches',
 'Racing Experience',
 'Surgeons',
 'Tutoring Centers',
 'Creperies',
 'Insurance',
 'Home Staging',
 'Flowers & Gifts',
 'Food Delivery Services',
 'Food',
 'Maternity Wear',
 'Donburi',
 'Masonry/Concrete',
 'Pet Boarding',
 'RV Parks',
 'Drama Schools',
 'Cheese Tasting Classes',
 'Barre Classes',
 'Horse Equipment Shops',
 'Reproductive Health Services',
 'Software Development',
 'Immunodermatologists',
 'Personal Assistants',
 'Pubs',
 'Resorts',
 'Photography Classes',
 'Ophthalmologists',
 'Visitor Centers',
 'Car Dealers',
 'Brazilian',
 'Somali',
 'Scandinavian',
 'Acai Bowls',
 'Swimwear',
 'Photographers',
 'Building Supplies',
 'Community Gardens',
 'Swimming Pools',
 'Military Surplus',
 'Tai Chi',
 'Proctologists',
 'Safety Equipment',
 'Trinidadian',
 'Laotian',
 'Active Life',
 'Rheumatologists',
 'Vascular Medicine',
 'Speakeasies',
 'Art Installation',
 'Jazz & Blues',
 'Art Tours',
 'Beverage Store',
 'Zoos',
 'Sleep Specialists',
 'Mobile Phone Accessories',
 'Counseling & Mental Health',
 'Soccer',
 'Family Practice',
 'Gay Bars',
 'Venues & Event Spaces',
 'Qi Gong',
 'Bookkeepers',
 'Physical Therapy',
 'DJs',
 'Go Karts',
 'Weight Loss Centers',
 'Emergency Medicine',
 'Saunas',
 'Local Fish Stores',
 'Plastic Surgeons',
 'Bar Crawl',
 'Video/Film Production',
 'Brewpubs',
 'Medical Supplies',
 'Neurologist',
 'Laundromat',
 'Video Game Stores',
 'Japanese Curry',
 'RV Rental',
 'Bartending Schools',
 'Dance Studios',
 'Electronics Repair',
 'Skating Rinks',
 'Hot Air Balloons',
 'Outdoor Movies',
 'Tableware',
 'Bocce Ball',
 'Health & Medical',
 'House Sitters',
 'Animal Shelters',
 'Cosmetology Schools',
 'Condominiums',
 'Orthotics',
 'Laundry Services',
 'Apartments',
 'Pancakes',
 'Chicken Wings',
 'Shutters',
 'Balloon Services',
 'Boudoir Photography',
 'Candle Stores',
 'Israeli',
 'Doctors',
 'Bartenders',
 'Dance Schools',
 'Bike Repair/Maintenance',
 'Guest Houses',
 'Ethical Grocery',
 'RV Dealers',
 'Movers',
 'Speech Therapists',
 'Hospice',
 'Educational Services',
 'Mongolian',
 'Rolfing',
 'LAN Centers',
 'Gymnastics',
 'Sewing & Alterations',
 'Boot Camps',
 'Distilleries',
 'Screen Printing',
 'Italian',
 'Teppanyaki',
 'Private Schools',
 'Desserts',
 'Sports Psychologists',
 'Electricity Suppliers',
 'Waffles',
 'Business Law',
 'Dentists',
 'Bus Rental',
 'Shopping Centers',
 'Bistros',
 'Pharmacy',
 'Tapas/Small Plates',
 'Sperm Clinic',
 'Pool Halls',
 'Golf Equipment Shops',
 'Coffee & Tea Supplies',
 'Boat Charters',
 'Wine Bars',
 'Osteopathic Physicians',
 'Threading Services',
 "Men's Clothing",
 'Public Art',
 'Tax Services',
 'Airports',
 'Experiences',
 'Disc Golf',
 'Carousels',
 'Party Bus Rentals',
 'Hiking',
 'Vacation Rental Agents',
 'Commissioned Artists',
 'Hazardous Waste Disposal',
 'Drones',
 'Shanghainese',
 'Cigar Bars',
 'Dumpster Rental',
 'Vitamins & Supplements',
 'Motorsport Vehicle Dealers',
 'Pet Adoption',
 'Brazilian Jiu-jitsu',
 'Archery',
 'Diagnostic Services',
 'Nephrologists',
 'Trailer Dealers',
 'Urologists',
 'Mobility Equipment Sales & Services',
 'Private Jet Charter',
 "Women's Clothing",
 'Trivia Hosts',
 'Generator Installation/Repair',
 'Bus Stations',
 'Meditation Centers',
 'Irish',
 'Drugstores',
 'Emergency Rooms',
 'Printing Services',
 'Electricians',
 'Decks & Railing',
 'Diners',
 'Malaysian',
 'Chinese Martial Arts',
 'Mediterranean',
 'Hair Salons',
 'Medical Cannabis Referrals',
 'Pathologists',
 'Yelp Events',
 'Colonics',
 'Bangladeshi',
 'Kitchen Incubators',
 'Ceremonial Clothing',
 'Dive Shops',
 'Pulmonologist',
 'Shoe Stores',
 'Hakka',
 'Reptile Shops',
 'Police Departments',
 'Property Management',
 'Vacation Rentals',
 'Test Preparation',
 'Skiing',
 'Karate',
 'Gas Stations',
 'Diamond Buyers',
 'Land Surveying',
 'Sports Bars',
 'Oncologist',
 'Passport & Visa Services',
 'Digitizing Services',
 'Motorsport Vehicle Repairs',
 'Screen Printing/T-Shirt Printing',
 'Elder Care Planning',
 'Wildlife Control',
 'Auto Parts & Supplies',
 'Ethiopian',
 'Tubing',
 'Used',
 'Jet Skis',
 'Vape Shops',
 'Body Shops',
 'Vermouth Bars',
 'Cucina campana',
 'RV Repair',
 'Preventive Medicine',
 'Ethnic Grocery',
 'Personal Shopping',
 'Tonkatsu',
 'Sheds & Outdoor Storage',
 'Hydroponics',
 'Burgers',
 'Modern European',
 'Reflexology',
 'Empanadas',
 'Cryotherapy',
 'Special Education',
 'Newspapers & Magazines',
 'Environmental Testing',
 'Water Heater Installation/Repair',
 'Portable Toilet Services',
 'Hawaiian',
 'Indoor Landscaping',
 'Bakeries',
 'Allergists',
 'Landscape Architects',
 'Aircraft Dealers',
 'Bubble Tea',
 'Pediatricians',
 'Child Care & Day Care',
 'Coffee & Tea',
 'Tours',
 'Cosmetics & Beauty Supply',
 'Event Photography',
 'Hot Tub & Pool',
 'General Festivals',
 'Pool & Hot Tub Service',
 'Valet Services',
 'Wedding Planning',
 'Specialty Schools',
 'Keys & Locksmiths',
 'Art Museums',
 '3D Printing',
 'Karaoke',
 'Nicaraguan',
 'Wine Tasting Classes',
 'Holistic Animal Care',
 'Libraries',
 'Radiologists',
 'Phlebologists',
 'Appraisal Services',
 'Cideries',
 'Religious Organizations',
 'Endocrinologists',
 'Cajun/Creole',
 "Children's Clothing",
 'Wineries',
 'Scooter Rentals',
 'Hang Gliding',
 'Bed & Breakfast',
 'Irrigation',
 'Dinner Theater',
 'Tacos',
 'Sugaring',
 'Vocational & Technical School',
 'Estheticians',
 'Home Services',
 'Lounges',
 'Bird Shops',
 'Skydiving',
 'Trainers',
 'Wine Tasting Room',
 'Taxis',
 'Neurotologists',
 'Alternative Medicine',
 'Golf Cart Rentals',
 'Service Stations',
 'Public Relations',
 'Carpeting',
 'Chinese',
 'Laser Hair Removal',
 'Poutineries',
 'Ayurveda',
 'Beer',
 'Spine Surgeons',
 'Brasseries',
 'Gardeners',
 'Nurse Practitioner',
 'Bowling',
 'Pressure Washers',
 'Diagnostic Imaging',
 'Whiskey Bars',
 'Motorcycle Rental',
 'Fertility',
 'Parking',
 'Salad',
 'Supper Clubs',
 'Campgrounds',
 'Car Buyers',
 'Data Recovery',
 'Dance Wear',
 'Batting Cages',
 'Departments of Motor Vehicles',
 'Golf Equipment',
 'Personal Injury Law',
 'Golf Cart Dealers',
 'Southern',
 'Street Vendors',
 'Psychiatrists',
 'Senior Centers',
 'Club Crawl',
 'Horse Racing',
 'Playgrounds',
 'Vocal Coach',
 'Ear Nose & Throat',
 'Motorcycle Repair',
 'Tattoo Removal',
 'Bounce House Rentals',
 'Auto Detailing',
 'Otologists',
 'African',
 'Religious Schools',
 'Social Clubs',
 'Rafting/Kayaking',
 'Reiki',
 'Cabaret',
 'Tex-Mex',
 'Fondue',
 'Home Health Care',
 'Trophy Shops',
 'Day Spas',
 'Hypnosis/Hypnotherapy',
 'Funeral Services & Cemeteries',
 'Arts & Crafts',
 'Beer Tours',
 'Airport Lounges',
 'Fish & Chips',
 'Skate Shops',
 'Izakaya',
 'Calabrian',
 'Pest Control',
 'Caribbean',
 'Observatories',
 'Mediators',
 'Powder Coating',
 'Dialysis Clinics',
 'Breakfast & Brunch',
 'Silent Disco',
 'Badminton',
 'Summer Camps',
 'Dominican',
 'Attraction Farms',
 'Home Window Tinting',
 'Spray Tanning',
 'Day Camps',
 'Imported Food',
 'Juice Bars & Smoothies',
 'Cooking Schools',
 'Backflow Services',
 'Crane Services',
 'Travel Agents',
 'Coffee Roasteries',
 'Farm Equipment Repair',
 'German',
 'Makeup Artists',
 'Vietnamese',
 'Pets',
 'Nail Technicians',
 'Videos & Video Game Rental',
 'Piano Services',
 'Glass & Mirrors',
 'Refinishing Services',
 'Outlet Stores',
 'Shipping Centers',
 'Pet Hospice',
 'Door Sales/Installation',
 'Estate Planning Law',
 'Water Purification Services',
 'Pain Management',
 'Contract Law',
 'Cosmetic Dentists',
 'Hair Removal',
 'Immigration Law',
 'Montessori Schools',
 'Sauna Installation & Repair',
 'Stucco Services',
 'Homeless Shelters',
 'Professional Services',
 'Venezuelan',
 'Sardinian',
 'Mini Golf',
 'Bubble Soccer',
 'Public Transportation',
 'Grill Services',
 'Aircraft Repairs',
 'Home Decor',
 'Animal Physical Therapy',
 'Puerto Rican',
 'Matchmakers',
 'Races & Competitions',
 'Mobile Home Dealers',
 'Transmission Repair',
 'Motorcycle Gear',
 'Cupcakes',
 'Head Shops',
 'Music & Video',
 'Asian Fusion',
 'Knife Sharpening',
 'Spiritual Shop',
 'Financial Services',
 'EV Charging Stations',
 'Champagne Bars',
 'Real Estate Photography',
 'Auction Houses',
 'Preschools',
 'Chiropractors',
 'Massage',
 'Mass Media',
 'Herbal Shops',
 'Colleges & Universities',
 'Nail Salons',
 'Local Services',
 'Cambodian',
 'Private Tutors',
 'Prosthetics',
 'Appliances & Repair',
 'Permanent Makeup',
 'Print Media',
 "Men's Hair Salons",
 'Ice Cream & Frozen Yogurt',
 'Lingerie',
 'Pet Photography',
 'Noodles',
 'Mountain Biking',
 'Computers',
 'Vehicle Wraps',
 'Wedding Chapels',
 'Oral Surgeons',
 'Siding',
 'Community Service/Non-Profit',
 'Scuba Diving',
 'Mattresses',
 'Tree Services',
 'Home Automation',
 'Taiwanese',
 'Advertising',
 'Emergency Pet Hospital',
 'Teeth Whitening',
 'Language Schools',
 'Surf Shop',
 'Portuguese',
 'Gutter Services',
 'Senegalese',
 'Baby Gear & Furniture',
 'Car Rental',
 'Aquariums',
 'Childbirth Education',
 'Kitchen & Bath',
 'Photography Stores & Services',
 'Ice Delivery',
 'Community Centers',
 'Hong Kong Style Cafe',
 'Country Dance Halls',
 'Mobile Home Repair',
 'Art Schools',
 'Department Stores',
 'Hair Loss Centers',
 'Pet Services',
 'Falafel',
 'Shredding Services',
 'Ranches',
 'Lawn Services',
 'Seafood',
 'Nurseries & Gardening',
 'Retina Specialists',
 'Tanning Beds',
 'Internet Service Providers',
 'Honey',
 'Appliances',
 'Urgent Care',
 'Fast Food',
 'Adult',
 'Popcorn Shops',
 'French',
 'Gold Buyers',
 'Vegan',
 'Garage Door Services',
 'Dog Walkers',
 'Midwives',
 'Interior Design',
 'Banks & Credit Unions',
 'Gunsmith',
 'Landscaping',
 'Beaches',
 ...]

In [100]:
cat_count = Counter(cat_types)
cat_count.most_common()

[('Restaurants', 32998),
 ('Food', 18575),
 ('Shopping', 16083),
 ('Beauty & Spas', 9653),
 ('Nightlife', 8080),
 ('Health & Medical', 7859),
 ('Bars', 7454),
 ('Automotive', 6373),
 ('Event Planning & Services', 6069),
 ('Sandwiches', 5948),
 ('Local Services', 5644),
 ('American (Traditional)', 5578),
 ('Fast Food', 5328),
 ('Coffee & Tea', 5020),
 ('Home Services', 4977),
 ('Breakfast & Brunch', 4553),
 ('Pizza', 4527),
 ('Active Life', 4498),
 ('Burgers', 4241),
 ('Fashion', 3851),
 ('American (New)', 3753),
 ('Home & Garden', 3747),
 ('Auto Repair', 3557),
 ('Hair Salons', 3398),
 ('Arts & Entertainment', 3251),
 ('Nail Salons', 3068),
 ('Mexican', 3057),
 ('Italian', 2955),
 ('Hotels & Travel', 2930),
 ('Specialty Food', 2800),
 ('Hair Removal', 2520),
 ('Seafood', 2478),
 ('Salad', 2368),
 ('Doctors', 2303),
 ('Grocery', 2276),
 ('Chicken Wings', 2247),
 ('Fitness & Instruction', 2186),
 ('Desserts', 2110),
 ('Bakeries', 2001),
 ('Hotels', 1995),
 ('Chinese', 1950),
 ('Waxing', 1903),
 ('Skin Care', 1854),
 ('Tires', 1808),
 ('Venues & Event Spaces', 1804),
 ('Oil Change Stations', 1789),
 ('Dentists', 1763),
 ('Cafes', 1757),
 ('Caterers', 1707),
 ('Beer', 1668),
 ('Wine & Spirits', 1668),
 ('Ice Cream & Frozen Yogurt', 1663),
 ('Delis', 1638),
 ('Convenience Stores', 1617),
 ('Massage', 1527),
 ('Sports Bars', 1485),
 ("Women's Clothing", 1465),
 ('Auto Parts & Supplies', 1443),
 ('Real Estate', 1440),
 ('Drugstores', 1435),
 ('General Dentistry', 1435),
 ('Day Spas', 1417),
 ('Cocktail Bars', 1365),
 ('Home Decor', 1349),
 ('Flowers & Gifts', 1318),
 ('Professional Services', 1299),
 ('Gyms', 1248),
 ('Cosmetic Dentists', 1242),
 ('Barbers', 1218),
 ('Juice Bars & Smoothies', 1211),
 ('Pubs', 1207),
 ('Cosmetics & Beauty Supply', 1187),
 ('Japanese', 1173),
 ('Sushi Bars', 1148),
 ('Sporting Goods', 1135),
 ('Furniture Stores', 1113),
 ('Car Dealers', 1099),
 ('Department Stores', 1088),
 ('Accessories', 1080),
 ('Steakhouses', 1067),
 ('Hair Stylists', 1042),
 ('Jewelry', 1038),
 ('Trainers', 1022),
 ('Massage Therapy', 1006),
 ('Education', 994),
 ('Electronics', 988),
 ('Asian Fusion', 987),
 ('Eyelash Service', 975),
 ('Arts & Crafts', 971),
 ('Barbeque', 971),
 ('Diners', 967),
 ("Men's Clothing", 940),
 ('Apartments', 928),
 ('Tacos', 867),
 ('Optometrists', 863),
 ('Wine Bars', 857),
 ('Donuts', 852),
 ('Eyewear & Opticians', 829),
 ('Soup', 818),
 ('Pets', 795),
 ('Local Flavor', 794),
 ('Medical Centers', 780),
 ('Vegetarian', 774),
 ('IT Services & Computer Repair', 763),
 ('Mediterranean', 757),
 ('Shoe Stores', 757),
 ('Lounges', 747),
 ('Gas Stations', 735),
 ('Body Shops', 730),
 ('Tex-Mex', 721),
 ('Beer Bar', 720),
 ('Chicken Shop', 679),
 ("Men's Hair Salons", 679),
 ('Nurseries & Gardening', 669),
 ('Discount Store', 666),
 ('Breweries', 660),
 ('Food Delivery Services', 658),
 ('Southern', 656),
 ('Makeup Artists', 654),
 ('Music Venues', 645),
 ('Laundry Services', 633),
 ('Party & Event Planning', 631),
 ('Hardware Stores', 629),
 ('Thai', 629),
 ('Printing Services', 627),
 ('Shipping Centers', 626),
 ('Building Supplies', 625),
 ('Mobile Phones', 615),
 ('Contractors', 614),
 ('Florists', 610),
 ('Books', 602),
 ('Mags', 602),
 ('Music & Video', 602),
 ('Yoga', 594),
 ('Vegan', 591),
 ('Dry Cleaning & Laundry', 590),
 ('Gift Shops', 587),
 ('Cajun/Creole', 576),
 ('Pet Services', 571),
 ('Public Services & Government', 567),
 ('Appliances', 558),
 ('Medical Spas', 555),
 ('Art Galleries', 551),
 ('Comfort Food', 545),
 ('Oral Surgeons', 544),
 ('Chiropractors', 542),
 ('Gluten-Free', 539),
 ('Food Trucks', 532),
 ('Specialty Schools', 528),
 ('Latin American', 524),
 ('Vietnamese', 524),
 ('Auto Detailing', 513),
 ('Tobacco Shops', 513),
 ('Orthodontists', 512),
 ('Bagels', 511),
 ('Sewing & Alterations', 510),
 ('Endodontists', 508),
 ('Hot Dogs', 500),
 ('Car Wash', 497),
 ('Used', 487),
 ('Vintage & Consignment', 487),
 ('Greek', 463),
 ('Pharmacy', 463),
 ('Indian', 457),
 ('Health Markets', 454),
 ('Mattresses', 452),
 ('Auto Glass Services', 448),
 ('Hair Extensions', 444),
 ('Tanning', 437),
 ('Self Storage', 429),
 ('Transmission Repair', 425),
 ('Dive Bars', 424),
 ('Meat Shops', 423),
 ('Tattoo', 423),
 ('Thrift Stores', 423),
 ('Cheesesteaks', 420),
 ('Antiques', 412),
 ('Sports Wear', 411),
 ('Kitchen & Bath', 407),
 ('Notaries', 400),
 ('Tours', 396),
 ('Physical Therapy', 394),
 ('Fruits & Veggies', 393),
 ('Ethnic Food', 392),
 ('Hobby Shops', 390),
 ('Financial Services', 388),
 ('Urgent Care', 387),
 ('Wedding Planning', 385),
 ('Pediatric Dentists', 379),
 ('Photography Stores & Services', 373),
 ('Pet Groomers', 366),
 ('Caribbean', 365),
 ('Gastropubs', 364),
 ('Periodontists', 358),
 ('Pet Stores', 358),
 ('Bridal', 352),
 ('Bubble Tea', 352),
 ('Museums', 350),
 ('Toy Stores', 350),
 ('Mobile Phone Repair', 349),
 ('Eyebrow Services', 344),
 ('Blow Dry/Out Services', 343),
 ('Buffets', 337),
 ('Middle Eastern', 337),
 ('Towing', 334),
 ('Vape Shops', 334),
 ('Reflexology', 326),
 ('Mobile Phone Accessories', 325),
 ('Farmers Market', 324),
 ('Heating & Air Conditioning/HVAC', 323),
 ('Ophthalmologists', 322),
 ('Noodles', 319),
 ("Children's Clothing", 317),
 ('Community Service/Non-Profit', 314),
 ('Golf', 312),
 ('Diagnostic Services', 306),
 ('Electronics Repair', 303),
 ('Soul Food', 303),
 ('Nutritionists', 301),
 ('Plumbing', 301),
 ('Weight Loss Centers', 301),
 ('Performing Arts', 300),
 ('Laser Hair Removal', 299),
 ('Parks', 298),
 ('Korean', 296),
 ('Acupuncture', 295),
 ('Permanent Makeup', 292),
 ('Tapas/Small Plates', 292),
 ('Bikes', 287),
 ('Movers', 287),
 ('Appliances & Repair', 286),
 ('Family Practice', 286),
 ('Mailbox Centers', 282),
 ('Arcades', 278),
 ('Piercing', 277),
 ('Cupcakes', 274),
 ('Telecommunications', 271),
 ('Jewelry Repair', 270),
 ('Interior Design', 269),
 ('Outdoor Gear', 269),
 ('Used Car Dealers', 268),
 ('Bookstores', 266),
 ('Organic Stores', 261),
 ('Cosmetic Surgeons', 258),
 ('Kids Activities', 257),
 ('Pet Sitting', 254),
 ('French', 251),
 ('Flooring', 250),
 ('Nail Technicians', 249),
 ('Property Management', 249),
 ('Wineries', 246),
 ('Coffee Roasteries', 242),
 ('Hospitals', 239),
 ('Watches', 239),
 ('Wraps', 239),
 ('Spray Tanning', 237),
 ('Veterinarians', 236),
 ('Landscaping', 235),
 ('Boot Camps', 233),
 ('Dry Cleaning', 232),
 ('Acai Bowls', 229),
 ('Real Estate Services', 229),
 ('Wheel & Rim Repair', 228),
 ('Art Supplies', 224),
 ('Halal', 224),
 ('Bed & Breakfast', 223),
 ('Dance Clubs', 222),
 ('Chocolatiers & Shops', 221),
 ('Seafood Markets', 220),
 ('Sports Clubs', 220),
 ('Candy Stores', 218),
 ('Windshield Installation & Repair', 218),
 ('Wholesale Stores', 215),
 ('Computers', 214),
 ('Dermatologists', 212),
 ('Child Care & Day Care', 211),
 ('Custom Cakes', 209),
 ('Formal Wear', 206),
 ('Shopping Centers', 206),
 ('Cinema', 205),
 ('Karaoke', 205),
 ('Sports Medicine', 205),
 ('Auto Customization', 204),
 ('Bike Rentals', 201),
 ('Pilates', 198),
 ('Vitamins & Supplements', 193),
 ('Martial Arts', 190),
 ('Internet Service Providers', 189),
 ('Office Equipment', 187),
 ('Home Cleaning', 184),
 ('Watch Repair', 184),
 ('Transportation', 183),
 ('Musical Instruments & Teachers', 182),
 ('Shaved Ice', 182),
 ('Banks & Credit Unions', 181),
 ('Amusement Parks', 179),
 ('Cuban', 179),
 ('Mortgage Brokers', 178),
 ('Libraries', 177),
 ('Bike Repair/Maintenance', 176),
 ('Food Stands', 176),
 ('Party Supplies', 176),
 ('Laboratory Testing', 175),
 ('Recreation Centers', 172),
 ('Ramen', 170),
 ('Boating', 169),
 ('Poke', 169),
 ('Head Shops', 168),
 ('Pediatricians', 167),
 ('Spanish', 167),
 ('Guns & Ammo', 166),
 ('International Grocery', 166),
 ('Art Classes', 165),
 ('Cards & Stationery', 165),
 ('Water Heater Installation/Repair', 165),
 ('Signmaking', 164),
 ('Smog Check Stations', 164),
 ('Swimming Pools', 164),
 ('Post Offices', 162),
 ('Canadian (New)', 161),
 ('Floral Designers', 161),
 ('Obstetricians & Gynecologists', 161),
 ('Brewpubs', 160),
 ('Pasta Shops', 159),
 ('Car Stereo Installation', 158),
 ('Baby Gear & Furniture', 156),
 ('Pet Training', 156),
 ('Windows Installation', 155),
 ('Car Window Tinting', 153),
 ('Couriers & Delivery Services', 153),
 ('Adult Entertainment', 152),
 ('Lighting Fixtures & Equipment', 152),
 ('Naturopathic/Holistic', 152),
 ('Laser Eye Surgery/Lasik', 151),
 ('Preschools', 149),
 ('Summer Camps', 148),
 ('Carpet Cleaning', 147),
 ('Shoe Repair', 147),
 ('Interval Training Gyms', 146),
 ('Beer Gardens', 145),
 ('Music & DVDs', 145),
 ('Medical Supplies', 143),
 ('Graphic Design', 142),
 ('Keys & Locksmiths', 142),
 ('Motorcycle Dealers', 142),
 ('Real Estate Agents', 142),
 ('Laundromat', 141),
 ('Waffles', 141),
 ('Imported Food', 140),
 ('Bowling', 139),
 ('Fish & Chips', 139),
 ('Framing', 137),
 ('Tea Rooms', 137),
 ('Orthopedists', 136),
 ('Truck Rental', 136),
 ('Hookah Bars', 134),
 ('Hot Tub & Pool', 134),
 ('Motorcycle Repair', 133),
 ('Tapas Bars', 132),
 ('Gelato', 131),
 ('Carpeting', 130),
 ('Diagnostic Imaging', 130),
 ('Butcher', 129),
 ('Dance Studios', 129),
 ('Reiki', 129),
 ('Rehabilitation Center', 128),
 ('Wine Tasting Room', 128),
 ('Car Rental', 127),
 ('Fabric Stores', 126),
 ('Hawaiian', 126),
 ('Lingerie', 126),
 ('Irish', 125),
 ('Threading Services', 124),
 ('Resorts', 123),
 ('Landmarks & Historical Buildings', 122),
 ('Pet Boarding', 122),
 ('Insurance', 121),
 ('Internal Medicine', 120),
 ('Pakistani', 120),
 ('Traditional Chinese Medicine', 120),
 ('Cardio Classes', 119),
 ('Pool Halls', 119),
 ('Festivals', 118),
 ('Barre Classes', 117),
 ('Escape Games', 117),
 ('Irish Pub', 117),
 ('Shades & Blinds', 117),
 ('Comic Books', 115),
 ('Outlet Stores', 115),
 ('Pool & Hot Tub Service', 115),
 ('Electricians', 114),
 ('Counseling & Mental Health', 111),
 ('Musical Instrument Services', 111),
 ('Pest Control', 111),
 ('Photographers', 111),
 ('Walk-in Clinics', 110),
 ('Security Systems', 109),
 ('Personal Shopping', 107),
 ('Street Vendors', 106),
 ('Glass & Mirrors', 105),
 ('Parking', 104),
 ('Vinyl Records', 104),
 ('Auto Loan Providers', 103),
 ('Jazz & Blues', 103),
 ('Propane', 103),
 ('Tanning Beds', 101),
 ('Cannabis Clinics', 100),
 ('Cannabis Dispensaries', 100),
 ('Door Sales/Installation', 100),
 ('Plus Size Fashion', 100),
 ('Team Building Activities', 99),
 ('Cheese Shops', 98),
 ('Pretzels', 98),
 ('Adult', 97),
 ('Gun/Rifle Ranges', 97),
 ('Paint Stores', 97),
 ('Playgrounds', 97),
 ('Travel Services', 97),
 ('Cabinetry', 96),
 ('Home Window Tinting', 96),
 ('Tree Services', 96),
 ('Videos & Video Game Rental', 96),
 ('Damage Restoration', 95),
 ('Rugs', 95),
 ('Teeth Whitening', 95),
 ('Airport Shuttles', 94),
 ('Costumes', 92),
 ('Donation Center', 92),
 ('Elementary Schools', 92),
 ('New Mexican Cuisine', 92),
 ('Boxing', 91),
 ('Dim Sum', 91),
 ('Knitting Supplies', 91),
 ('Patisserie/Cake Shop', 91),
 ('Gold Buyers', 90),
 ('Junk Removal & Hauling', 90),
 ('Distilleries', 89),
 ('Funeral Services & Cemeteries', 89),
 ('Packing Supplies', 89),
 ('Painters', 89),
 ('Screen Printing/T-Shirt Printing', 89),
 ('Souvenir Shops', 89),
 ('Leather Goods', 88),
 ('Casinos', 87),
 ('Social Clubs', 87),
 ('Cycling Classes', 86),
 ('Fishing', 86),
 ('Roofing', 86),
 ('Gardeners', 85),
 ('Party Equipment Rentals', 85),
 ('Rafting/Kayaking', 84),
 ('Bespoke Clothing', 83),
 ('Candle Stores', 83),
 ('Internet Cafes', 83),
 ('Country Clubs', 82),
 ('Supernatural Readings', 82),
 ('Herbs & Spices', 81),
 ('Swimwear', 81),
 ('Tiling', 81),
 ('Szechuan', 80),
 ('Fitness/Exercise Equipment', 79),
 ('Air Duct Cleaning', 78),
 ('Data Recovery', 78),
 ('Podiatrists', 78),
 ('Gay Bars', 77),
 ('Skating Rinks', 77),
 ('Tattoo Removal', 77),
 ('Whiskey Bars', 77),
 ('Modern European', 76),
 ('Roadside Assistance', 76),
 ('Battery Stores', 75),
 ('Historical Tours', 75),
 ('Hunting & Fishing Supplies', 75),
 ('Pawn Shops', 75),
 ('Boat Charters', 74),
 ('Landscape Architects', 74),
 ('Session Photography', 74),
 ('Do-It-Yourself Food', 73),
 ('German', 73),
 ('RV Dealers', 73),
 ('Religious Organizations', 73),
 ('Vacation Rentals', 73),
 ('Body Contouring', 72),
 ('Food Court', 72),
 ('Guitar Stores', 72),
 ('Packing Services', 72),
 ('Pain Management', 72),
 ('Pool Cleaners', 72),
 ('Spiritual Shop', 72),
 ('Creperies', 71),
 ('Gutter Services', 71),
 ('Plastic Surgeons', 71),
 ('Surgeons', 71),
 ('Amateur Sports Teams', 70),
 ('Office Cleaning', 70),
 ('Television Service Providers', 70),
 ('Countertop Installation', 69),
 ('African', 68),
 ('Farms', 67),
 ('Financial Advising', 67),
 ('Kebab', 67),
 ('Masonry/Concrete', 67),
 ('Occupational Therapy', 67),
 ('Paddleboarding', 67),
 ('Wigs', 67),
 ('Educational Services', 66),
 ('Furniture Reupholstery', 66),
 ('Meditation Centers', 66),
 ('Motorcycle Gear', 66),
 ('Paint & Sip', 66),
 ('Recycling Center', 66),
 ('Dance Schools', 65),
 ('Falafel', 65),
 ('Filipino', 65),
 ('Handyman', 65),
 ('Limos', 65),
 ('RV Repair', 65),
 ('Tabletop Games', 65),
 ('Uniforms', 65),
 ('Emergency Rooms', 64),
 ('Swimming Lessons/Schools', 64),
 ('Video Game Stores', 64),
 ('Puerto Rican', 63),
 ('Indoor Playcentre', 62),
 ('Mini Golf', 62),
 ('Car Buyers', 61),
 ('Comedy Clubs', 61),
 ('Golf Equipment', 61),
 ('Cantonese', 60),
 ('Pressure Washers', 60),
 ('Kickboxing', 59),
 ('Life Coach', 59),
 ('Tennis', 59),
 ('University Housing', 59),
 ('Lawyers', 58),
 ('Pan Asian', 58),
 ('Outdoor Furniture Stores', 57),
 ('Trampoline Parks', 57),
 ('Orthotics', 56),
 ('Web Design', 56),
 ('Airports', 55),
 ('Art Schools', 55),
 ('Donairs', 55),
 ('Embroidery & Crochet', 55),
 ('Event Photography', 55),
 ('Golf Lessons', 55),
 ('Hiking', 55),
 ('Smokehouse', 55),
 ('Customized Merchandise', 54),
 ('Gymnastics', 54),
 ('Live/Raw Food', 54),
 ('Vehicle Wraps', 54),
 ('Colombian', 53),
 ('Cosmetology Schools', 53),
 ('Pet Adoption', 53),
 ('Tiki Bars', 53),
 ('Auto Insurance', 52),
 ('Cooking Classes', 52),
 ('Dog Parks', 52),
 ('Garage Door Services', 52),
 ('Window Washing', 52),
 ('Appraisal Services', 51),
 ('Carpet Installation', 51),
 ('Hot Pot', 51),
 ('Registration Services', 51),
 ('Stadiums & Arenas', 51),
 ('Beaches', 50),
 ('Brazilian', 50),
 ('Colleges & Universities', 50),
 ('Lebanese', 50),
 ('Perfume', 50),
 ('Saunas', 50),
 ('Taiwanese', 50),
 ('Botanical Gardens', 49),
 ('Screen Printing', 49),
 ('Cigar Bars', 48),
 ('Climbing', 48),
 ('Home Health Care', 48),
 ('Home Inspectors', 48),
 ('Pop-Up Restaurants', 48),
 ('Ear Nose & Throat', 47),
 ('Empanadas', 47),
 ('Home Theatre Installation', 47),
 ('Radiologists', 47),
 ('Wholesalers', 47),
 ('Christmas Trees', 46),
 ('Fences & Gates', 46),
 ('Peruvian', 46),
 ('Advertising', 45),
 ('Art Museums', 45),
 ('Mortgage Lenders', 45),
 ('Party Bus Rentals', 45),
 ('Taxis', 45),
 ('Adult Education', 44),
 ('British', 44),
 ('Commercial Real Estate', 44),
 ('Water Purification Services', 44),
 ('Aquariums', 43),
 ('Commercial Truck Repair', 43),
 ('Fireplace Services', 43),
 ('Home Organization', 43),
 ('Psychiatrists', 43),
 ('Allergists', 42),
 ('Boat Repair', 42),
 ('Churches', 42),
 ('Ethiopian', 42),
 ('Firearm Training', 42),
 ('Service Stations', 42),
 ('Shared Office Spaces', 42),
 ('Macarons', 41),
 ('Marketing', 41),
 ('Siding', 41),
 ('Axe Throwing', 40),
 ('Beverage Store', 40),
 ('Flea Markets', 40),
 ('Hats', 40),
 ('Retirement Homes', 40),
 ('Turkish', 40),
 ('Alternative Medicine', 39),
 ('Cultural Center', 39),
 ('Herbal Shops', 39),
 ('Irrigation', 39),
 ('Shutters', 39),
 ('Farming Equipment', 38),
 ('Metal Fabricators', 38),
 ('Neurologist', 38),
 ('RV Rental', 38),
 ('Tui Na', 38),
 ('Boat Tours', 37),
 ('Brazilian Jiu-jitsu', 37),
 ('Challenge Courses', 37),
 ('Cooking Schools', 37),
 ('Diving', 37),
 ('Kosher', 37),
 ('Salvadoran', 37),
 ('Auction Houses', 36),
 ('Departments of Motor Vehicles', 36),
 ('Estheticians', 36),
 ('Float Spa', 36),
 ('Kids Hair Salons', 36),
 ('Sunglasses', 36),
 ('Tasting Classes', 36),
 ('Walking Tours', 36),
 ('Zoos', 36),
 ('Boat Dealers', 35),
 ('Car Inspectors', 35),
 ('Guest Houses', 35),
 ('Hair Loss Centers', 35),
 ('Laotian', 35),
 ('Prosthodontists', 35),
 ('Teppanyaki', 35),
 ('Utilities', 35),
 ('Campgrounds', 34),
 ('DJs', 34),
 ('Horseback Riding', 34),
 ('Paint-Your-Own Pottery', 34),
 ('RV Parks', 34),
 ('Ski & Snowboard Shops', 34),
 ('Used Bookstore', 34),
 ('Vocational & Technical School', 34),
 ('Wine Tours', 34),
 ('Auto Upholstery', 33),
 ('Brasseries', 33),
 ('Brewing Supplies', 33),
 ('Fertility', 33),
 ('Grout Services', 33),
 ('Lighting Stores', 33),
 ('Personal Chefs', 33),
 ('Pool & Billiards', 33),
 ('Sleep Specialists', 33),
 ('Venezuelan', 33),
 ('Acne Treatment', 32),
 ('Auto Security', 32),
 ('Dog Walkers', 32),
 ('Drywall Installation & Repair', 32),
 ('IV Hydration', 32),
 ('Kombucha', 32),
 ('Leisure Centers', 32),
 ('Livestock Feed & Supply', 32),
 ('Maternity Wear', 32),
 ('Refinishing Services', 32),
 ('Skate Shops', 32),
 ('Snow Removal', 32),
 ('Day Camps', 31),
 ('Dominican', 31),
 ('Engraving', 31),
 ('Go Karts', 31),
 ('Grilling Equipment', 31),
 ('Home Automation', 31),
 ('Lawn Services', 31),
 ('Popcorn Shops', 31),
 ('Solar Installation', 31),
 ('Animal Shelters', 30),
 ('Cardiologists', 30),
 ('Laser Tag', 30),
 ('Mountain Biking', 30),
 ('Rock Climbing', 30),
 ('Sugaring', 30),
 ('Cryotherapy', 29),
 ('Dental Hygienists', 29),
 ('Gemstones & Minerals', 29),
 ('Holiday Decorations', 29),
 ('Jet Skis', 29),
 ('Beer Tours', 28),
 ('Cafeteria', 28),
 ('Home & Rental Insurance', 28),
 ('Olive Oil', 28),
 ('Psychics', 28),
 ('Assisted Living Facilities', 27),
 ('Bus Tours', 27),
 ('Clothing Rental', 27),
 ('Life Insurance', 27),
 ('Osteopathic Physicians', 27),
 ('Polish', 27),
 ('Strip Clubs', 27),
 ('Video/Film Production', 27),
 ('Audiologist', 26),
 ('Circuit Training Gyms', 26),
 ('Eatertainment', 26),
 ('Mass Media', 26),
 ('Scuba Diving', 26),
 ('Septic Services', 26),
 ('Speakeasies', 26),
 ('Trailer Dealers', 26),
 ('Aestheticians', 25),
 ('Archery', 25),
 ('Haunted Houses', 25),
 ('Investing', 25),
 ('Persian/Iranian', 25),
 ('Pumpkin Patches', 25),
 ('Race Tracks', 25),
 ('Russian', 25),
 ('Special Education', 25),
 ('Wine Tasting Classes', 25),
 ('CSA', 24),
 ('Ethnic Grocery', 24),
 ('Newspapers & Magazines', 24),
 ('Prenatal/Perinatal Care', 24),
 ('Professional Sports Teams', 24),
 ('Recording & Rehearsal Studios', 24),
 ('Shoe Shine', 24),
 ('Trailer Repair', 24),
 ('Wedding Chapels', 24),
 ('Arabic', 23),
 ('Cideries', 23),
 ('Henna Artists', 23),
 ('Marinas', 23),
 ('Piano Bars', 23),
 ('Pole Dancing Classes', 23),
 ('Spine Surgeons', 23),
 ('Blood & Plasma Donation Centers', 22),
 ('Farm Equipment Repair', 22),
 ('Gastroenterologist', 22),
 ('Home Network Installation', 22),
 ('Hypnosis/Hypnotherapy', 22),
 ('Public Transportation', 22),
 ('Security Services', 22),
 ('Themed Cafes', 22),
 ('Argentine', 21),
 ('Bike tours', 21),
 ('Carpenters', 21),
 ('Chimney Sweeps', 21),
 ('Community Centers', 21),
 ('Delicatessen', 21),
 ('Emergency Pet Hospital', 21),
 ('Local Fish Stores', 21),
 ('Midwives', 21),
 ('Moroccan', 21),
 ('Photo Booth Rentals', 21),
 ('Print Media', 21),
 ('Self-defense Classes', 21),
 ('Tax Services', 21),
 ('Trailer Rental', 21),
 ('Afghan', 20),
 ('Attraction Farms', 20),
 ('Champagne Bars', 20),
 ("Children's Museums", 20),
 ('Halotherapy', 20),
 ('Hostels', 20),
 ('Insulation Installation', 20),
 ('Luggage', 20),
 ('Mobile Dent Repair', 20),
 ('Portuguese', 20),
 ('Reproductive Health Services', 20),
 ('Restaurant Supplies', 20),
 ('Surf Shop', 20),
 ('Surfing', 20),
 ('Wildlife Control', 20),
 ('Accountants', 19),
 ('Decks & Railing', 19),
 ('Food Tours', 19),
 ('Furniture Repair', 19),
 ('Generator Installation/Repair', 19),
 ('Health Coach', 19),
 ('Kitchen Supplies', 19),
 ('Knife Sharpening', 19),
 ('Malaysian', 19),
 ('Mobility Equipment Sales & Services', 19),
 ('Mongolian', 19),
 ('Paintball', 19),

## Combine with review dataset

In [80]:
review = review.rename(columns = {'date': 'review_date'})
review['review_date'] = review['review_date'].astype('datetime64')
review['review_date'] = review['review_date'].dt.date

In [81]:
bus_review = review.merge(bus_final_df, how = 'inner', on = ['business_id'])

In [82]:
bus_review.shape

(5544679, 22)

In [84]:
review_df = bus_review.loc[bus_review['review_date'] >= dt.date(2020, 1, 20)].reset_index(drop = True)
review_df.shape

(1025744, 24)

In [85]:
review_df.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,review_date,name,...,stars_y,review_count,is_open,categories,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency,earliest_review_date,latest_review_date
0,rjto3jNNZ4ABy5MB8i3ddA,rCvoCWEMaaN8AIYQywoGQw,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,0,0,0,It took us about 45-50 minutes to be seated ev...,2020-02-02,Turning Point of North Wales,...,3.0,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,NaN,NaN
1,jlrm5sNt-WCF3g-Kvp8Stw,TW54JlaMAPPrxFpqvhQa-g,XQfwVwDr-v0ZS3_CbbE5Xw,1.0,0,0,0,Horrible experience. I looked on yelp to see t...,2020-08-02,Turning Point of North Wales,...,3.0,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,NaN,NaN
2,Tqwm99IUIagqHo8Fi_7ong,GqSA5t_OD1uxDZMwVLpoXA,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,0,0,0,Been here multiple times for breakfast and eve...,2020-02-25,Turning Point of North Wales,...,3.0,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,NaN,NaN
3,6mqdeMPwfAUour-cso3HAg,rslPC4SPqIEp06X20TUn3w,XQfwVwDr-v0ZS3_CbbE5Xw,5.0,0,0,0,I'm very surprised by the negative reviews on ...,2020-02-16,Turning Point of North Wales,...,3.0,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,NaN,NaN
4,RxFzeqmEsc-lKqn5VsMnGw,OqX0IKY2ilJUQYzna0qc_A,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,This place is OKAY. Maybe I should try a diffe...,2020-11-14,Turning Point of North Wales,...,3.0,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,NaN,NaN

In [28]:
bus_final_df.shape

(85445, 14)

In [29]:
list(review_df['business_id'].unique())

['XQfwVwDr-v0ZS3_CbbE5Xw',
 'kxX2SOes4o-D3ZQBkiMRfA',
 'gmjsEdUsKpj9Xxu6pdjH0g',
 'gebiRewfieSdtt17PTW6Zg',
 'uMvVYRgGNXf5boolA9HXTw',
 'EQ-TZ2eeD_E0BHuvoaeG5Q',
 'lj-E32x9_FA7GmUrBGBEWg',
 'RZtGWDLCAtuipwaZ-UfjmQ',
 'otQS34_MymijPTdNBoBdCw',
 'BVndHaLihEYbr76Z0CMEGw',
 'YtSqYv1Q_pOltsVPSx54SA',
 'rBdG_23USc7DletfZ11xGA',
 'CLEWowfkj-wKYJlQDqT1aw',
 'eFvzHawVJofxSnD7TgbZtg',
 'nRKndeZLQ3eDL10UMwS2rQ',
 'ut6fi2W2YaipNOqvi7e0jw',
 'vC2qm1y3Au5czBtbhc-DNw',
 'c-IgS6Pk6vMyax7Rbr38eA',
 'x4XdNhp0Xn8lOivzc77J-g',
 'S2Ho8yLxhKAa26pBAm6rxA',
 'MWmXGQ98KbRo3vsS5nZhMA',
 'ltBBYdNzkeKdCNPDAsxwAA',
 'bMratNjTG5ZFEA6hVyr-xQ',
 'bbEXAEFr4RYHLlZ-HFssTA',
 '0pMj5xUAecW9o1P35B0AMw',
 'X8lfGPagfLzfOsx0k08NRQ',
 'IDtLPgUrqorrpqSLdfMhZQ',
 'LfYUOclwLs_SPrNAdKMjsw',
 'PY9GRfzr4nTZeINf346QOw',
 'kq5Ghhh14r-eCxlVmlyd8w',
 'Zx7n8mdt8OzLRXVzolXNhQ',
 'A2q7d-CBM2-81tVkmS4JMw',
 'oBhJuukGRqPVvYBfTkhuZA',
 'eaJCpC6IhYphj7bwCDHTwQ',
 'W4ZEKkva9HpAdZG88juwyQ',
 'jTI5Xjk27An8ceJ6VwpXiQ',
 'j8JOZvfeHEfUWq3gEz6ABQ',
 'I6L0Zxi5Ww0zEWSAVgngeQ',
 'EtKSTHV5Qx_Q7Aur9o4kQQ',
 'SSZDGl2J-CEyIzuIbEiYNQ',
 'VJEzpfLs_Jnzgqh5A_FVTg',
 'GILL0ZkvVXJaNQzYRXfMQw',
 'TyOe_EcbyAWMmPgg_ILwHQ',
 'oJ4ik-4PZe6gexxW-tSmsw',
 'NQSnr4RPUScss607oxOaqw',
 '7wQEzj-0yOpLiANNLuUflQ',
 'SIoCIxjn4jLt2O-4DajWJw',
 'SZU9c8V2GuREDN5KgyHFJw',
 '2GYg3liJ9-m6Z67L_4_BRQ',
 'oQ5CPRt0R3AzFvcjNOqB1w',
 'pAgtmlIGqFYaWdBoCUeitw',
 'HTqXI5S2XcSlh_ylx9sE6g',
 'PzhPMkaNYiKDTHoTG0r8rw',
 'sLgnx_WFCjEoPsS6NwU70Q',
 'YbnJYHNp_fHbI-hcFg48vQ',
 'Zi-F-YvyVOK0k5QD7lrLOg',
 'EpREWeEpmR8f1qLHzzF0AA',
 'Wy8Hswf2cLQGRZN6armkag',
 'pR8u8hXf1vvzoAGOoKHQqQ',
 '5Ce3lZksYVkCbrihqylVHQ',
 'AgbRp5NLsP1-J1fdg6Hdcw',
 'lpfrjbjIWC0BNZThaSDMLw',
 'aY_n9RSaD2Yw09jSFFePew',
 '9gObo5ltOMo6UgsaXaHPWA',
 '9OtFX3YzG5keaUMOWU1imA',
 'b7V_5q22_eTeHlYzq1bpFw',
 'cg4JFJcCxRTTMmcg9O9KtA',
 '6JFTijOMHB46yBoyVOjPCA',
 '8xM8akbQhHDQdJO1sPMB1A',
 '18eWJFJbXyR9j_5xfcRLYA',
 'X_E7U2lVNEwbH_gpOBmAHQ',
 'W7NxQw8UYFR0HLPrI08tvw',
 'f4PA-f1tcN1bIpZJLdFsQQ',
 'm5-FtgWRd4qA7j0vaOXiXQ',
 'X63jIMRHYBvKKQDuJTRiQQ',
 'GyC36Pn0Q1-qHnqXys6yFg',
 'fGYnHzFr1z2kv7bPRW6VMA',
 'EBn3U4mpnIRLIy2lKuilRQ',
 'FHNIvNgh3fS7VZQq2Y3dsA',
 'jOOOrH5n2ijnsZKxzPSAiw',
 'UEgiQRvpAeaq-QyEvm7Ysw',
 'GBTPC53ZrG1ZBY3DT8Mbcw',
 '1QVB0_-piu0GXes87BXeGw',
 'pUVRCYL8rT4I5Ry5FYkRsA',
 '9GiEYlSeM4Csc8Isp5PzPw',
 'Dv6RfXLYe1atjgz3Xf4GGw',
 'OlcuZ9sWonCsSSGuHxb6yw',
 'xR3inMR2KceU3b9dhkz_tw',
 'nYRFGR2C-OOhRvO8rvI4qw',
 'pSmOH4a3HNNpYM82J5ycLA',
 'YNm4WrEHejsVIEfkZ0MZFQ',
 'cB_9eHHfo9me96cZup-lZQ',
 'actDmpJyaQPnkds6knMdKA',
 '6p07zfmJWvytr0paqpyvbg',
 '-ikBycdroyTLDBHR9aC3HA',
 '29YqJwOGEuAWqlHZxMc1OA',
 'M0c99tzIJPIbrY_RAO7KSQ',
 'hAmuto6UndVroyd_DaD-TA',
 'C7ZNfxgDQWinNzRfTkevxg',
 'ab3pRv-b0o-BwMK2jVbH3Q',
 'eMiN8nm70jjKg8izikVWDA',
 'GgGfhKUGusCbP-rvjHiS3A',
 'hRHhP3fhMy3LktPyQa3s_A',
 'eUO4QA6nL2XdCeWuD7tkww',
 '-If0ps0QhOLCYVWQWs9RYg',
 'c5QMFe_yhgksThaR2a6rtg',
 'pym7c6ZFEtmoH16xN2ApBg',
 'AzseSGgDC6bVtMPEYo1CNQ',
 '34Eqv8jXgxg_EEwcsNgeeg',
 'a1u9Bxrq_fZxl2pgqQUcJA',
 'RfkaKLn494TKC943fJhKOw',
 '7L1kXfwU5XM6f6Jxo_L7Yg',
 '7wpTBtY2kiMXmW42zvL-fw',
 'xruWHK8Z5N0JWyQubLHjgA',
 'G-zzByEfv2oqjcxYmPsjtA',
 'vPlhhf6CcB5dzQv1sEwlvg',
 'Cu8ysHKiZmJKRY9nF3Hzsw',
 'hy5GpGXAna-5qrb3zNub6g',
 'W8Z4rXYkmZlEVSaxIVjyvg',
 'CmjvsiafnWH60fuYz2LCmA',
 '9xm4aIAT_xwRoTxc0_8AWQ',
 'qf4LecJDQWIt0gt6VJWFPw',
 'yQhu3LbnB2gQgrquHZ_S6Q',
 '_aKr7POnacW_VizRKBpCiA',
 'aZyCHVqXnz81fW1_KbFq0w',
 'QUEWdnmVCv2Ri8xJATTrIQ',
 '7WZ5EGb-Xk_uxQTWc52P4w',
 'VO5Jphyqmoa62lbA7-vzpQ',
 'CYwC5OjwCN6ib_AQDxi3Ow',
 'iVegX9epKU8R0eRAEwQ6Yg',
 'kPG6r0h73sPgXBei0MyzYg',
 'oRZzKWdyMQld6N_y4UWkAg',
 'J55AT36H5EeJ9ey8etGjHA',
 'mQvRi0nm84Www71d4qOheQ',
 'v5ktgWMAARaczTMh2rAJKg',
 'o7cD_sDA-Evj3Oh0zeH9nQ',
 'F3n0sB5Dqn-N2fAA5TgmFQ',
 'HrIbP2-jdRJAU92yqyDmyw',
 '-kY_HDP7IMvGl-kBIZVU4A',
 'WM3q-7scdPUei6fu4SJFYw',
 'WLiqfxv_GhFFA5sm878a2w',
 'ELKgARoj5UNjQXUkX8T8KQ',
 'XMGjDIAFbu9VSmWDs-Ev5w',
 'wqj6JquckEOs1h7rs376kQ',
 'mLNSOU8Ki0Fm09xd6ZKkcA',
 '3YERGr7UbpSpddqL0Eiu5g',
 '6dDC5PSmPEoJYuM8r8dN_A',
 'wa_bwyY57etHjtJ2Fw0E3g',
 'dBCNUSbz5-8nQNrxWo5deg',
 'JvawJ9bSr22xn4R9oLvl_w',
 'roc-xyyzN5b_nImb0NdRLQ',
 'ORL4JE6tz3rJxVqkdKfegA',
 'LnQRfj3pPz0369stRnwUWw',
 'etzkwuhZGHUXJhdPC_y4pA',
 'M0r9lUn2gLFYgIwIfG8-bQ',
 'FnEkr6LzjuGsg93Z7fkl7Q',
 '8uF-bhJFgT4Tn6DTb27viA',
 'QcuTCSfnI6WqKpuDL_a0OA',
 'ugNplY4SZqIfP417oUxahQ',
 'eL4lyE7LNoXEMvpcJ8WNVw',
 'V6Om7YZhlRQRU7WfuxHq8Q',
 '2S_CEQYBbp8RO1bJm_1mng',
 'h3aPn7WjxYMu_DJqXCUAjQ',
 '7T1VAYHIS3cgsDj3iS6JWQ',
 'kgeiJzWSiXPnf-3wx7LHIQ',
 '7sKfrJmjG6unAQeWdQUe2w',
 'Mha77MN_BYGB-w7DONZ5YA',
 '9OG5YkX1g2GReZM0AskizA',
 'dUctvEfHQccW_uxtRup2QQ',
 '5ezrDoezdUlJpUa5Jg6dUQ',
 'oY5LFo6Yxxf32ePna6mEUQ',
 'PpZqlVUAP2i8_hNfpQyKhg',
 'ICqgjbOpBD9SUtE5PQC9sA',
 'Jc6MxMyCLp4DMfN4C1t1aQ',
 'qdpdUjdkEUpzYDdce2yZng',
 'jX8i0O2x-koganf8WwHXdA',
 '5MIiTuQP0fkAz43aQEBrWA',
 'fgTOJRkc703E4XRdcr5zRA',
 'LWDktsosohdLy4iI2pIOOQ',
 'eaDZlSuVS0EY67Ke6pRP6Q',
 'dz_aIFbATP2PLWQSOBnMfw',
 '-ATiAtTikuGuqvaW2O6tNA',
 'W2mcChlYqeVirWSWSLgoDA',
 'kKPJLiHIr9Gd9sYs3GhxDQ',
 'TttFjRQ-8Iz8by4hsD7iOQ',
 'oaboaRBUgGjbo2kfUIKDLQ',
 'bUnqKEP7h48ePxHMXV0fNw',
 'JCWwQuH9pEHg-yTj4-D_ow',
 'cBp1fn2LXpSHe4VbTXLYEw',
 'wzE61ThXOdrSegvwSOzf5w',
 'nFjk0xVI9fNiVN__5g-m8Q',
 'SheKIt6Z_h-yzbkU8yjoPA',
 'ejEVU5o5F56e7XIO07xpcA',
 'tzVLTQNUtiCAxUZmEuF0vQ',
 'Zdw5rbtAWguwcT9h_X4xRA',
 'cvHY1RTAPSoH94ysP2_eyQ',
 'bMVgakLiCEA6LWRUEoB3wQ',
 'MaYb7qMN6BomP1zQGj3Wjg',
 'VRGYwKE_Z77frm5NwLvJhw',
 '68ThEdiK0eWCEgGEmV9Tng',
 '_ReMedGR8eDM5AgdRK0jCw',
 'SlLfWzeYOrVBxCd-0QILZQ',
 'nOyphAl0JQ8JrvNi93pclQ',
 'oLc7k78_YcDMnMCdbC-h1A',
 'Jx2AoB_IQOUrZ3s6fdAUSA',
 '_D7QoWuQKMXk0mEE7r_Ftw',
 'N2i1U4Z6GHEw9V02N2u6JA',
 '-OIUunijjcq_ZzyyQhPPFQ',
 'gK9CdFaCXmHoW8aLfXiSqg',
 'f06mf_7bT8FibS2UejNrfg',
 'gZqFuqTjtN4Bfh-_fO315w',
 'iI090K0JMViyPPh7Viovrg',
 'N9-NRK8PPvi73tduxoPKbA',
 'P61ecBVVPgBm-zH_SYq8FA',
 'QkyEr9j7il9lJqseTbPe5w',
 'b2IDM2SC0HkcflLl_nSTrA',
 'y44MbCvvtmg1FpkNGSWisw',
 'O0k_pEr2UR6iEX2nv2Bbpg',
 'ncxN9II-MeXRudUrE3GVsA',
 '6x6rR-SErwOo3xF2AzXVHA',
 '4XLfecBXJ9itm4MMStGfWg',
 '4FaYG9qKDpDyr68bKmaIEw',
 'k6XrnjX2TBM_nDzD_XA9NQ',
 'LktIfbmd3k0kDiWibGw7DQ',
 'TyxDzw8S02endZrrSHu_xQ',
 'WAPhi7JdwIvdTBgM9KsxHA',
 'MMRRS6YhVRx_iN5-JhMRYg',
 '77drWZJuh-a1osUOrd7oQw',
 '9PCPV34KV1B_E3v1IUi4tQ',
 'lwdkX7KcibM4mDqpDfK7JA',
 'fa6InRseC0Uxnt5d90E3LQ',
 'UYxGgnJ4Z2lOehK23HSIlw',
 'ZGD4WacjO1v4Ath3Qil-Sg',
 'yN6jZyG1G1FG_HCZQlJZ1g',
 '0ol0GxG-mp_ZZlrSlXFeWA',
 'dIpTuL2T1L98GQGU17IeSw',
 '9V0LMtO1riRw9-pUuG4NFg',
 'BjBDHqHhMXSxgyVipccznQ',
 'HV0RS_cHVHatqYwC1j_qsw',
 'J-ciDDEdIHMcChGIyKZnOg',
 '8zvsq2duG2u0rB7R8ZDeMg',
 'QWqKTWQ2OiDgo3dzNkpung',
 'Zcc12beUPFCe2U0DizJUNg',
 'DsKzHnkLKnxZTVsFpts4oA',
 'VVvUBlc_WIEb8obKGq39dA',
 'TDKBPcViJQDMrdUm6a9XZA',
 'kk_oEw1j3xQ-cJaAII8A0Q',
 'o3RGMdSY37_PX1k1vZsXpA',
 'yE1raqkLX7OZsjmX3qKIKg',
 'WO5nr-4sjVs506BdCLL0aA',
 'ZnAr0AxYpEYK1ZHNc4fk7g',
 'OINbC0rpDVJ5bfxt3LO9fw',
 'WmzwJXyBdqsZCZ254XDrtQ',
 '_TANOcxwIOmQhk1mnXaj7w',
 'aJvxWyQIG5OLfBw3qAe8xA',
 'yDiWYpuzRxcTgSi_O4JZpQ',
 'dDn_NVOQh9F-t153S035Ew',
 'W6S482dRQ_9nCcLjfv8VNg',
 'v72HalBu5fQIFTD-oqhSgQ',
 'rQ2CSHRkZSn5WCu7OfVI-Q',
 'SwWfW3vBn5QkDE7T3urGAg',
 '_v3DcLatG70adfYzWTd-CQ',
 'SuQgcpL-aZeuyRjBdA0pHw',
 'uyQGW7kZKk90vEwGo8A7mA',
 'o2ETM4XZXENkzuAaYT2GIg',
 't-bcEvAM8oE92tm9HBr7wQ',
 'vje0KIiE7vtpx7JzmBx5LQ',
 'CHh0ZFrQcsk4boOItr2Zuw',
 '6kPHr6gZaU9732ptn9gJrA',
 'NK9wtI7bMlO3WBjYzhpFAQ',
 'cXAKeC-EgVChIxhS7fscmw',
 'o1bd3WLl4McflqjDTJTdHQ',
 'UCMSWPqzXjd7QHq7v8PJjQ',
 'kJpoduG3wdA35WzOF_T1Aw',
 '13UbOVDFdxloxaient5XWA',
 '4-CxVJ9n6TPPAmKV7DEOlQ',
 'kKk_2OAnCRbxX5rLqQYBHg',
 'kf4tZnNr7Jdl9BaqNl5dmw',
 'oPzSiJdl9Lg1rB_7bL06qg',
 'RhuYqAT45uIR2NNdDsolXQ',
 'KIph7iH97vnDrgcdaqEMFQ',
 'N5ekxQd7wGHWJJK-p9qqXw',
 'onFzWveuDXbSOmq9CdBfPQ',
 'plobBsTtVUODb353xxFT_g',
 'HCqmx4ENAZ76SAjoalj-MQ',
 'AWJyivVwe3t9BO-k8D0ynQ',
 'sLgIenN5t-fFALQUkOvCyQ',
 'ziFtaIQdzQfFL79iLTq_zQ',
 '0vCsslN-TYnDeOSNT4rIfg',
 'eJYvM2Zy5BloOYGldWmAVw',
 'cXSyVvOr9YRN9diDkaWs0Q',
 'KSP4BhUnu-skBxlRT9MLRQ',
 'sk2lZI4zmuGAccd3DLCnBw',
 'OlOVRlcEstxKK_6hMjy63A',
 'Uc6PdjT_MO5bRPQsUUEy5Q',
 'eaV07HGOcyb27XobHVl8LQ',
 'u-eaBrfpqjXTS2TD_cTioA',
 'MkJ5kdhX3Jl48ykeMEVVIw',
 'IbndcMURguByburM72o3SA',
 'qdL-EbgoA7Gq_2u4e4YvLw',
 '2K75poiMupFTvpQq5REWTA',
 'z680Aylt8wN2KAeFM1hy-A',
 'rKlPSPn0wF5tkCrWZzBnbA',
 'F_wIC6i5y4zdQyp99R7PdQ',
 'RSAcMSbxpxskQ6dIIN6QUw',
 'dpwkz52tHB2MCPv53I2aRA',
 'kTLHh3e_59XZduNwydxuAw',
 '0cB1kDuZCvSwpJrNdtQP8Q',
 'c7OfNRMIqAhtNOMEat3Rbg',
 'HTqoEYWlJkEXNEmHtKCPIA',
 'EneM1oBFxncaR1nQCD3gYA',
 'Gw7UW0E2BguzL9suQnwDeg',
 '14JwHj1Cxs5bkkJg5iuPog',
 'I8eSWVzc_y9ORuKWgl07Tw',
 'rQW9iupvhk6ScPn2VPNLVQ',
 'SbdL-8NSmTWgSwdGZBa7WQ',
 'JUlsvVAvZvGHWFfkKm0nlg',
 'j5U5O3scMvPe67jzJcWFug',
 'SVV1VmybJGXGge6nFuHy_A',
 'Ir4-CFGZDfloJkUMax13Og',
 '0wQCEcpZ57TmTm6EmEDsIw',
 'htO_nlxkEsYHzDrtbiUxew',
 'n-iPn34tLaqnq-dI8m8Bkw',
 'CjkxTRergWcYWb4SVW3gxw',
 'C_EtrXTygRX5RTUOKtO6Dg',
 'vN6v8m4DO45Z4pp8yxxF_w',
 '-02xFuruu85XmDn2xiynJw',
 'Pr_Mlt9FqdcW7WCFGJmozA',
 '7EhTT4iEuA7JaaWA-eI3Qw',
 'B7nlRFe3EeQwAWpUpefGHA',
 'zSqTndm5Alq9dW1PyzbdTA',
 '1NCUTTp6rIyXpwUDVv9qOA',
 'ZdHf2EkMQPV2OBNgGhMAKQ',
 '5GQPM14khrarsrlID5s2LA',
 'u-w0dEUZAUF3JyGS_-KiTQ',
 'NcO-pWiZmNM5zBg8H9zB6Q',
 'GUMVStVaJfWmCIpQA4TtHg',
 'GOSVLhjUT6TnrPhkkmDOpw',
 'R07rb3FN2QoRIbB6r6HDxQ',
 'CPFKi2lZJazP6IdtCdDDyg',
 'B91yBSPvAz5O_t9JFafN1Q',
 'NT5S6JV5wPwKOd3s3Yh1zQ',
 'mcr1lAEdvGLMJhuPwI3I2A',
 'V9XlikTxq0My4gE8LULsjw',
 'mtGTna-hyFhErb4Zma32IA',
 'EqEcDeXqIq1YwnzHg_ZUFw',
 'QLUUaTj034zYVWiVl9tNvA',
 'ZpXZgnBrNodHH8pKpOK_Kg',
 'xbE59o8d_8N72T0WMW1I8A',
 'QSA-x2bb3kum9QLFpy7vUg',
 '8eDkw7CE0NKqMknPIu26fw',
 'SlZJATE_TGUU8X34UJNi4g',
 'MjZQqZAmJeMco_Vq-Y9h-g',
 '4SneIG3-02kRCgQx-hu51Q',
 '4WdDY97x4GdMYtyk1KQMnw',
 '54XgUhaR0kDqw8bgbAEAtg',
 'hUX1yAimviBIhb21D_KtcQ',
 '6exYCuj4iSl1Hd6hb0C_Bg',
 'diwwt5QBU3-Thig9SVlsOA',
 'KKeItUB89NrvWF6E2sohGA',
 'jULIPydhMj18KOI5OHTwfA',
 '2oij3AB1we03O7_H29iJ9g',
 'I2Yt74AzSQFfyQqgN7PSEg',
 'WQ832PDnsDshhbQFm83ISg',
 'SDF1usj2mnUNqbIy4JBQTQ',
 'ZXKBVg-5drZ37wnwVEZe-A',
 '0z45rM2paE-O-6w63GEi6g',
 'Dtuf4vD0znzwJW9vk3iTNw',
 'I1h0GRYp86eX-XqwVXsSGA',
 'Q-prSTdggNlxAEFV88BZOw',
 'jxfAi7UDmtbhyPw7ZsfKVw',
 'OfI4DC1DVCJ92XcLdFBMFg',
 'z6SVTb9eFIcWVpKXIfFEvQ',
 'gCcJTKC40CL0XtYYGfcXDw',
 '6kAXOzE7fqaBZINQV_-_mg',
 'qq6vsh6ZEshfv4mTdrjA0g',
 'Wr2k0Vz8RbcumYulp-jIrA',
 '8G4mt9y5mRg161XBs-hePw',
 't0XZeA0MP0P66QyLQn_NUw',
 'ySSOZ_fz7wMhfjhWKzdR-w',
 'wnjFEC-w0qWnyDnO8k1RpA',
 'bdth7r1brx9yRU7sYwF9jQ',
 'vD2jzpPv4iyOLKzITscGvA',
 'quCIR7UcrMmpaKXYwet8pw',
 '5v9Voa4a5MON7mAQO3gV3A',
 'cdstmGcsGhFunXColCUhuA',
 'rVhsjZWk_u20TDcvwhbdyQ',
 '5_sby6qh9I6rwnSuoURSaQ',
 'oha2U5XJzc6IQdenpsxN1Q',
 'KgozvZ1UFfXuJToqe8CfQg',
 'u7_3L1NBWgxhBM_B-cmmnA',
 'jtsckI_01hlbGLpEFwJu0A',
 'WRMlifrYLjRY8q5YUUbfZA',
 'KhBUg5QhBYuK8RZAe5gDMQ',
 'F4zL3RYWlEhGLsns1xRR-A',
 '5Y_TiS_KJAgJMf9ZiKutEQ',
 'ZswVKOCuIcgh50eYtif_5g',
 'ZnxGRJpKHRQ0SAYSJk4SFw',
 '8QJTzIaR5FceGds8HBSIig',
 'sWCCxY1-9B1FGlSVeQvnHg',
 'dLMA55z9wdDkUIO-rnhOmw',
 '8FALz8g6oaTca0ufiUuF6w',
 'YeMouev-sLfAxykmcANNoQ',
 'oThWInL6gUCt2d98fSIAfA',
 '5TzAmqzksrUBB2tdHDQAUA',
 'ffvS2BlFwQra5FTPNk5N2g',
 '1T9F7iLDFAYWJvif1RKneg',
 '6VsOcLvDttT2BsCttVHoUw',
 'U30ggGzFpXvc2NZYwOW3qg',
 'hS6KNGCQVTYUdLb2edt58g',
 '8tnwneWHXWLUvIc5zz__5A',
 'C1D2o1VV2TDjpkG3BsdseA',
 '50Q2uIgwUqmWGLjn_1HSlg',
 '0qu0fNTOsSmuREYVIMPuIQ',
 'iDtIMWJVIGYspg5JvJKaOw',
 '2er_V-oAd7IbQ5YTY56r7A',
 'YgMZm_alGFUeQO4hz9X9VA',
 'ZAPCUuZBUKbhLF5tiyxDig',
 '_W9lITxMHNInaS2Lv2XoUw',
 'bQKqeYwaHNal7JFAXzCMFg',
 'ppFCk9aQkM338Rgwpl2F5A',
 'CasqUlQ4Dbs9sczZzuep0g',
 'kGNzqiYKDns-IU80uHF4sw',
 'u7MJKcNdZXYyTeb67vD5jw',
 'hqm2zJ1WY5UaVGZ6j07NNA',
 '_v5iAERdNNh5G9NBL-EelA',
 'TFnGJlA5l_HDdzGDkNTdTA',
 'gC8i-lxwvGhVpOXM5eYdtA',
 'Vnob_w_Aohf7ZDqxcJ9z2A',
 'SeAF6UA88vWbKFkZ7iQRhA',
 'k3lTRgvPvYUI-cX7_TAqNA',
 'DAcqRGI_u8yNCcUIczfNxA',
 'WbA5ud4InNWkizW7HE5kRQ',
 'vfBzDd-ceWnCrKqHdZwMSg',
 '5bCsL-Z3QnuBmJQtIt8qyw',
 'SwBhaxfQPbyhsi0QHUAN0A',
 'PYUI1OJVksGUbCrteU68bw',
 'xHUTCaGGn5jQkbs-q1trXg',
 'V8H6z5ulGJEkaFUyRfmLKw',
 '35GCFtezJ3upyqGf-zJ8MA',
 '9_m_iA3VAqGBJEW5XLc-5w',
 'bj-_vwEXLa7ECiHZhoOmFg',
 'ZWRgvtyHRobwpi4G-Z4STQ',
 'IwqFmo-RJs15WvA8PVHFnA',
 'InbkcStjSbpQEK5JGsy8ZA',
 'wUnLSg_GKfEIQ5CQQ770_g',
 'KZe5kpIHWVuJl6WgNYzceg',
 'YFMYMfz9L3Wraqb9I9TnfA',
 'kZtl_NJjUnlIQgzFrBhXyQ',
 'TLZ3-eDPLhUzfsWO4ad6Ug',
 'G6kRQylkjNNE-yUXM2muBg',
 '_d5OAxaxRPsivgYbBq7U1A',
 '-DXNvQLhKwunHzg8OjkwXA',
 'D2kZP7jvrWTuRzcPY6NbqA',
 'crRUwlg4u4VLLnGcOe9Ang',
 '0ZETsmrLSGWaBu1NNdcmYw',
 'VCjvaX_78oEKG3I9oTJEag',
 'qEBL7U0kW4lkptcd_4wWbg',
 'qppGA9vCUPfw9ngOy_R90w',
 'kkcQYuF3w5iHnHMf0EnRhQ',
 'qot32tHVWZpiJibLTwQGyw',
 'DNkz1z53dS2CUUWI1Skg2g',
 'j99PtxlKTW_u5alE4jiqHQ',
 '-K0zTgGyxo-AeSkcV0IVaA',
 'gKPWC7F219oEbu5NXPzH4g',
 '_KSRzh-ZxwKB3YcRlZQsGA',
 '0JPi9cyV9i3_kDPj049_qQ',
 '7lwe7n-Yc-V9E_HfLAeylg',
 'OHzX-ZD9qyoeoxR8Z0dlIA',
 '3SHw4aZW_muE1kRSLQQjjA',
 '5FDt7sy-70y4_37Dh2qcbw',
 '2FnoLyEO0nq7g2Wz8x7Z5A',
 'sB45WFgysT617bKWP_WJwA',
 'C4lZdhasjZVQyDlOiXY1sA',
 'QlvRwArDzGNRT_0FAsOSnw',
 '2zocwC7qMq3LsivPn9Z-Eg',
 'bTve2mwLk5Zc01vRKqc2KQ',
 'Jn_F3hYqknRTepCg6om04Q',
 'YGdUUAqeRT5Z7fYkpevEyA',
 'Af2UlNzQSiZCapJ6qtwu6g',
 'uW8L6awmCyjovD9OhWPo7g',
 'TldgQUtim0bm5VZr-Rpqfw',
 'Y0JF1UN7pfWJ-GuzuVXM0g',
 'Oun4NN-u5yiHIxDqtJnxgA',
 'hn3Rg2JrhQoDJBEhrpuwWg',
 'skN2XhKXlcjf53uIwzAedw',
 'SjnbzWbNLAxLOFVIyFKMXA',
 'r43DrfYAbAgifsYyNkljZw',
 'aw5GN4yk6r0r9e_5TdiLFQ',
 'zJErbOQMKX-MwHs_ulV7DA',
 'CA5BOxKRDPGJgdUQ8OUOpw',
 '8E-FdOGepjxkEk-mP21rbA',
 'osOONoA8wMF5ZpLWUS7VOw',
 'jlPB8Fx-xS2PW8Ni9NU3fw',
 'ujN8QWiLDqNhcu4LQ3f3nQ',
 'WF_KgJ1tuhz6rMI4_xZSRw',
 'WLrFLRE9uvqj9ahrEjevYw',
 'gyUBYwpUO_u0nqZdre4l1g',
 'YOEsOaiV0AznLshMDg5bJw',
 'UUpwoAAZcJyUWOqp81_3mA',
 'EIlFs8kybcG-l60GJjNUIA',
 'aKOdfQcjDG2NQtIEmq21ew',
 '5xokROlB8Zo5T-_qbHzsrQ',
 'jQBPO3rYkNwIaOdQS5ktgQ',
 'w5DsFKVqKcKXm509vjinqw',
 'ZXt0zo8liURaAEKD47zDRQ',
 '-bGw8ARHQucKWEHEkxpGFw',
 '5kZtETKu37RuwHATrB4a5g',
 'NYYPj2WpUuIz2mP6YBWKnA',
 'MbzgGsMQpGyVrUJXi_Jw0Q',
 'goexJ699bcLWGtL0E1G_GA',
 'jmwasbZfgj3honf79qKsnA',
 'i7syG2Gyr_qVPR1GwehzuA',
 '9dm_v79s9-pefMahqp1SkA',
 'sr9RI_LHMXGZfpDApPsDEw',
 'xJ3NSwE0xhdtA-tB_y_rNQ',
 'AWnzFqIrlkLAKTc46_zmEg',
 '-hVMfjPPEsSnga_gnYJx2w',
 'AaWmckcT3O1iQSAIUmzwUA',
 's7MaEXwDnzUcqG16pG7Wfg',
 'iDGohK_mkqnAfLeWC4P4TQ',
 'ERl6OCSEIFBOqfjai_jIUg',
 '2lQrzb0WPexs7oPdAPpQFw',
 '0CMmdGACj_gM8GSTOjhpWQ',
 'bJAY2baMKSTlWRc-QZGopQ',
 'Uj2LpQ5Hni4kQPC-jt9JPA',
 '3wogQmKw729tKKWaVbZvbg',
 'xvdsyHdYsEbm_Cqs0BgdEw',
 'TsZEKqs0wzP3WHnPkV0Eig',
 'bRRlWJeuPtmI3UuGhh43Wg',
 'VeFfrEZ4iWaecrQg6Eq4cg',
 'CuLjXvcxP_3_oKhSyq5UkA',
 'uW2oyOCEN3RgS7j2MfUIkg',
 'F0AAzMdhv2RyjwHVned5bQ',
 'n5P6-HWN3kFSYBxfVfDxEg',
 '3yI-7C8JzbG-ZaSqAGHMAQ',
 'YxhdfdhRZjJHPFxaADnNVg',
 '0zH0l4Jbf-oove3cLvrFOg',
 '8LonS_bxNmCDk3FWiG9lzA',
 'Sw7qcWQ5_iOUjBZMhSxyOQ',
 'jeizWBHYh9bYkf-rey3Ekw',
 '6iqDIQCE8sq7Xq1xvhG1Tg',
 'JQz0_R70G3bjQ5dRqrhxKQ',
 'tFUJRLtNgIGg8ifaDtM_Kg',
 'oqP1oQEycpp4J6u5YebRoQ',
 '1Pxg1AMf0rEn9QF__ZYoWw',
 '1bJxvwuMTyXmQGu90WLPhA',
 'UX3eq0WsVva-cqlVrzyzFg',
 'dERS4qwl9v-Gwft-Ug8APA',
 'jLaPtjlLfRSaoBWIcHcSQg',
 'kgMEBZG6rjkGeFzPaIM4MQ',
 'Wd9JBLjCCh5yTF0vPAxCAA',
 'cx2fwY66_xTNFo0p2EEC4g',
 'VcTddMHnMZeKibhRFWuqVw',
 'GaktVVj3HWX0sVMlCXCWZw',
 'ruFtZKwlJASx5BTk1dh5AQ',
 'sr-5EY6bmp4jINhea06MjA',
 '8gV3YUl8uqHnA-wZ3UZ5Dg',
 'qONvIS94nZhXYm-jccXyuw',
 'G0xz3kyRhRi6oZl7KfR0pA',
 '1lXdhiMNyUxtBlEAeRYCvQ',
 'JLixvCikc5JYGcnvaqHoJg',
 'dJUXONEvGDoxM3EPTzfY7g',
 'kimOwpoIWzJJx7NHTAj74Q',
 '2myVMP_l-9f9JIZewm19Cg',
 '2dlQX5sP9X6Dlm1MmNOlSw',
 'qs9d6iGos9UO4BzhVmJ9UA',
 'my0bmPD5dgDFE1ia__LNlw',
 'tkFXSTpI-JmDgzhPU8ZsVA',
 'JOvNunKJlWhwJRwLmUR9ZA',
 'skJ1w8B5YusIibyxH4ohxQ',
 'USekrAG0-4tJUs9V2gBBOQ',
 'tYCok-NtWvg8_k7woeB83w',
 '5TVWytR2oNbSKYgfxypuBw',
 '7clCBgNbd-x2Wj96lZ6Mjw',
 'g5ogvPhw3PSobtaZFkdEXg',
 'F1xE--Gb4rNFAwHkNkV31A',
 'WoI4kF2nFFu2Nl8mhFQOcQ',
 'L-YdO_NODKXXT3bkS0nUpg',
 'L7i_5DydYEKwPLfcDBRYDA',
 'pk7E-3G7Ij39h9HifNz0TA',
 '5RzJ2bjU8bLSaN5SuiUpYA',
 '-Or44IdY51Ukd618kikmtA',
 'bMIVLkX6-0U2NVPaVwt94A',
 'f82dhKNiUXsDVPMLqKYiIQ',
 'liHzAMPn1e7F-cEI3SgbJQ',
 'qjGS_7iaQDpbVhS6W8qkHQ',
 'cmkyXHQ1oqLTeLt5QjnQJQ',
 'lkPAmyZDva5Bt4EaqzjS8g',
 'ew_Hhp12Silh3qjoPaW9IA',
 'h6IzeUVASeDtvKhd2PEsKA',
 't1qF12NdW8KvCqxqbvy-Hg',
 'vFpbUcVAXxrSz5mFIzKbyw',
 'aDn90OI3HgzO8A2FO46j9Q',
 'pafrjSu3h0v0N8GR3ghNtQ',
 '3StNEgKAwpCFR1q0urmJrw',
 'lRbHFOIFuusN2WOR_ypQ_A',
 'nk2a2nI1jfln9zLpxEvTnw',
 'yqRF449dYddbt1bDg50J_Q',
 'ixPTo6Hum7nNZ7A4VPhTXg',
 '14ZGwnDyydXdSBsLXpSUrA',
 'yooufdsf3eAVq_9RQNSDJA',
 'BxhkoR6cscJwwex8gx31OA',
 '0sr1EyOc6Td1C-962QW88w',
 'K1r1fGmCbrmC_V6Aj22Zew',
 'dNhuI4zka3WDhbfksalj5w',
 '-ujBP1Dw0j1-Ffaz97-LXQ',
 '-cE9GrThz6HHn2zdpoqY_w',
 'UPeDuv-UuY7_FUo_0ef7eA',
 'q4aAaxdN4wmUZoC6sKEwsw',
 'gS7-jhdMgdsduhSwt1GOBA',
 '-wB5H63ERJ9S0oCp_ULR0Q',
 'U3aNQ5DsABPYyJQolsCbJg',
 'cHCRC7r9irhK0dIum1zeUw',
 'lTlii3QHEVvsagPGsCtu9w',
 'CiTFOr7-yHPXUeB6zRra0Q',
 'sdWuLh-auc0nC2Jy6_26AQ',
 'saJFbz12EnzanelpD8_xXQ',
 'Z42GbJnnbVMTSBCERfoPtw',
 'M2ZrrqseHE5xssUrOL0Gtg',
 'dvidzWEPgTQPeBc8CUV2OQ',
 'pRyf3q0VIMgZngyHb3Gfog',
 '3lBooCffgkW7tVSG5kILBA',
 'bP8Y5cHMda64Z3tGA-cYzw',
 '3y61A28PQDZ4weeeTRfIlA',
 'WfPmZ9hp50ttugTVgfcPpA',
 'I0jFTYVDs-WHwKR2XHQlRA',
 'ARgidflSXPHj7uhK-Y7hwA',
 'K-0ysAHUo1XBYcw7hB10hw',
 'ymE6ka6y6J-z2y2rX8QH3Q',
 '5IFqqWJTaPNoY2ZgRlX73w',
 'E1gf1YIWOo1BgzMUwJtEZg',
 'J_195G8K_MziKZEXj7Nxdw',
 'JiwJ2ViQECpJnDTgp3CBVQ',
 'Xs8_bv5kVViigbVf_d1TJg',
 'itAhmbhHOyQQparfwicjDQ',
 'f4vbnGoGo3eWorVekctVGQ',
 'wADYKG5qIyJcq7iisTPlPg',
 'X0yZMHwB1yUyzISAqRyYtQ',
 'cX1VH_vpqGoLrio4sV9xcA',
 'm6KZGTxRb9_ZyDpB1G6O1Q',
 'UmjITdXHhEF46ho6IhaGQg',
 'bSWL0YxfawjS03_g2kgujA',
 'xwSWtJcQkzTF6HNm_IMgcg',
 'iy1SG8qVkGhftxj_AP1Ngg',
 'MFxRPt8-B2xTYmon3s84kg',
 'jMZ56S8Y1t7cA1Ob-d-qeA',
 'Envz99GhwMkfMg7LzDQeUQ',
 'Wjutpifh3rVa7bS1UK3dmA',
 'TUH-FGpkOKCOVGIzmtTtfg',
 '-zsvmEbkd-K9K2DAAKqiEQ',
 '1gWUE5Avh_pswlHhf813EQ',
 '_EKvNMC2Mm67HzqNIzLgXg',
 'qQmdJFMWoDe2T2lbacBE8g',
 'jS9BruaKtDv556mbwl3Onw',
 'w0lcP2ngFaUpBGi5yzlYDw',
 'd_tRshM-w6S4QxE4VVi8tQ',
 'j9Kaj_6tSeXmVMYCgZithg',
 'EZuIzN2oAdZt-dkbdwH0pw',
 '_yjIYejZP1S-6g554Fwydg',
 '1ig2AJg8A08_XA3pFAMiRQ',
 'xhe3Z5cd-FYbR1DfFwx6OQ',
 '-Ijm5ICZUZffTo3iumczrw',
 '2oav5QoWgnvTI2gO5xFMjw',
 '1FURjeGJi_LBXcJQg8eskw',
 'ZVyDNLVFF8K4zcnhoKNSbA',
 'I2CxrvM0BGH1svfxqGGD2g',
 'SVSafDWg9r2Q5XEVOLPSSA',
 'U0ICWpbd1C0GD9SpIv3bSA',
 'cxupofYLq46bxBHpKyFwsQ',
 '7w-nj4YD5bhO_Jq4KglUOA',
 'K9gaM9XdGqGWsQMdjpxFIQ',
 '6aoXAXNrL7KrGBVRYBMFWw',
 'Uy0r4bzRmY5LFtDfzNgkag',
 'TMT9U2da4ewGbk38X54KJA',
 'UyD7FJamt_pw1V4d00lwjA',
 'Bt7NBqA31uOI4H_hvasLLg',
 'zXnFTbBeqWP8A3YvmFme-Q',
 'p7UGlPkE3Gagm9Mq7aHfYg',
 '5FuQbcHTF_I7PWJzhCMObw',
 'g4KzJc8y7BhW66ieNIwJEA',
 'C3Nc7EUqo64jRPWPn6vY9w',
 'qyOUMa4Ol1lFnoZZ8lN_hA',
 '_cdy7hVc32mleVooP8x0Sw',
 'dWOSZcAEt3sRXshh4Z8KGw',
 'vzG8THG9K2lDu-Ah6vFAVA',
 'NwJoFxmYRDxVGXgPtrjQ3w',
 'ScXMp9vL7yjmG__hRK8azw',
 'eJFw8xWcqyAno0SclR4uzg',
 '8jslfcsfU2BgthKAq0HynQ',
 'azEWQ-v2J-Y-K4rXeaYf_Q',
 'U18r2iiKDtuXtwmiEnsmlQ',
 'EyBlARgBUFBu6ZYS9wENyg',
 'uVJkqQ1U9MH7hBorrwGhBg',
 '2rQFgavS-942RapZTBSBTw',
 'Vv5Fxre786NpKFR_3OduKw',
 'm1DE-V1QWEkQ_vtwB51rzQ',
 'NQhyMw8SOU1HB-V9X52CTg',
 'ZmrebvKKDIOKNCQaNo_8xg',
 'SNQ8sn7R9_e92GWKMCNSgg',
 'Q8q-1MZTYPL9ZBmAeoMKVg',
 'UX7mhQ7zubpAlboAcP0FCQ',
 'yDHINEt7By47My7x4Mb8oA',
 'iMIlDz_hsRuhSdT_hxWW1w',
 'QdN72BWoyFypdGJhhI5r7g',
 'jwGGsDKKOsrLjncBtDnHtw',
 'r3IZCDY-E_4kTSFA359yHQ',
 'LGi-u2zVoSciM0F_2nSg8g',
 'E-4t5Hoon6aVFTWDPz26fQ',
 'p-vRA4n3m9lxxBSYRl7ZXw',
 '1aj1hnqPt3rqoB8tVRHLEA',
 'D9p7-HsY9llYP3BaCVg4DA',
 'qKTjtjNSHNj8g2ugXlmkTA',
 'iCKF72z3fqRTF1vxdBZINQ',
 '1wp5t7VQsRSj2qcVDPjzWw',
 '71MulAHeKm5p2kIIGYEwpA',
 'dWWOryYimQs3EzmejrVt7w',
 '8U-j_Xz3WMwlI7UTr2zt4w',
 'nnZIsmpIQnuQY5S-MoGyvg',
 'D73evJ9PZKxO3E5TaThe3w',
 'caGpaptBP4BKJkpH5W6cvA',
 'DvkSkF83xDONjkNIoEPRnQ',
 'I0I2mkCOPTYVSLpc8A8VVw',
 'ir8tx6USSa-jMHGKJ9DrPg',
 '2KIDQyTh-HzLxOUEDqtDBg',
 'hwrFnVzxb-hn7TiTlkZJHg',
 'Q_Wo3rX84Dy-YdQsiDmrWw',
 'uKAbrDSJJzZliY1Yqu5KxQ',
 'K_WZrMHAjqZ5DThAw4ZKMQ',
 '10JlCiyViBpUqRf58XlbZg',
 'QEOauqqX1vsGcJeN0FwyNw',
 'gABEjWGwhojrub_tXqE2uw',
 'W7M2FSPPt4avMjLiHkADGg',
 'F-NLo63QqYWQX59M_nNZmg',
 'xR1Wkmrm3yoAJuxPmS0vUw',
 'LdK6Tqr9-QK8eNezCUes9A',
 'K51bVqlGcpTMDK3-SDkBeQ',
 'noByYNtDLQAra9ccqxdfDw',
 'TRtcUUdBfO9e7wBoJLH9NA',
 'gk8l75GLFUsFr0kS5uLtkQ',

In [30]:
bus_df = bus_final_df.loc[bus_final_df['business_id'].isin(list(review_df['business_id'].unique()))]
bus_df.shape

(75820, 14)

In [31]:
bus_df.head()

,business_id,name,city,state,latitude,longitude,stars,review_count,is_open,categories,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma...",2011-12-12,2020-12-12,15,234
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",2010-08-18,2021-11-27,335,12
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food",2019-06-28,2021-12-17,14,69
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,36.269593,-87.058943,2.0,6,1,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",2012-12-16,2022-01-13,22,157
5,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,TN,36.208102,-86.768170,1.5,10,1,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",2011-01-17,2021-06-28,21,190

In [221]:
bus_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories', 'hours', 'earliest_checkin_date', 'latest_checkin_date',
       'number_of_checkins', 'average_checkin_frequency', 'CoatCheck',
       'RestaurantsAttire', 'Smoking', 'Caters', 'RestaurantsTakeOut',
       'AcceptsInsurance', 'HasTV', 'RestaurantsDelivery',
       'RestaurantsGoodForGroups', 'HappyHour', 'Music', 'Alcohol',
       'BusinessAcceptsBitcoin', 'ByAppointmentOnly', 'RestaurantsPriceRange2',
       'BYOB', 'GoodForKids', 'WheelchairAccessible', 'BikeParking',
       'RestaurantsTableService', 'DogsAllowed', 'BusinessParking', 'DriveThr',
       'Ambience', 'BusinessAcceptsCreditCards', 'RestaurantsReservations',
       'OutdoorSeating', 'BestNights', 'GoodForMeal', 'GoodForDancing',
       'NoiseLevel', 'Corkage', 'WiFi'],
      dtype='object')

In [35]:
review_df = review_df.drop(columns = ['stars_y'])
review_df = review_df.rename(columns = {'stars_x': 'stars'})

In [36]:
review_df['sentiment'] = np.where(review_df['stars']>=3.5, 1, -1)

In [37]:
review_df['influence'] = review_df.apply(lambda row: (row['useful'] + row['funny'] + row['cool'])*row['sentiment'], axis = 1)

In [41]:
review_df['influence'].value_counts().head(10)

 0    590085
 1    109724
-1     67870
 2     63960
 3     41757
-2     30781
 4     21324
-3     16884
 5     13002
-4      8879
Name: influence, dtype: int64

In [53]:
x = review_df.groupby(['business_id'])['influence'].sum()
x1 = pd.DataFrame()
x1['business_id'] = x.index
x1['influence'] = x.values
bus_df = bus_df.merge(x1, how = 'left', on = ['business_id'])
bus_df.head()

,business_id,name,city,state,latitude,longitude,stars,review_count,is_open,categories,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency,influence
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma...",2011-12-12,2020-12-12,15,234,3
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",2010-08-18,2021-11-27,335,12,17
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food",2019-06-28,2021-12-17,14,69,1
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,36.269593,-87.058943,2.0,6,1,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",2012-12-16,2022-01-13,22,157,0
4,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,TN,36.208102,-86.768170,1.5,10,1,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",2011-01-17,2021-06-28,21,190,0

In [54]:
bus_df = bus_df.astype({'is_open': 'category', 'earliest_checkin_date': 'datetime64', 'latest_checkin_date': 'datetime64'})

In [55]:
review_df = review_df.astype({'is_open': 'category', 'earliest_checkin_date': 'datetime64', 'latest_checkin_date': 'datetime64'})

In [56]:
bus_df['city'] = bus_df['city'].replace(['Saint Louis', 'East St.Louis', 'Saint Louis,', 'St Louis'], 'St. Louis')
bus_df['city'] = bus_df['city'].replace(['St Petersburg', 'Saint Petersburg'], 'St. Petersburg')
bus_df['city'] = bus_df['city'].replace(['Saint Albert', 'St Albert'], 'St. Albert')
bus_df['city'] = bus_df['city'].replace(['Saint Rose', 'St Rose'], 'St. Rose')
bus_df['city'] = bus_df['city'].replace(['TRENTON', 'NASHVILLE', 'NEW ORLEANS', 'Boise City', 'Pinellas Park', 'King Of Prussia', 'East Norristown', 'UPPER MORELAND', 'RADNOR', 'Goodlettsville', 'Springhill', 'Washington Twp', 'Fairview Hts', 'Saint Peters', 'St Pete Beach', 'Land O\' Lakes'], ['Trenton', 'Nashville', 'New Orleans', 'Boise', 'Pinellas', 'King of Prussia', 'Norristown', 'Upper Moreland', 'Radnor', 'Goodletsville', 'Spring Hill', 'Washington Township', 'Fairview Heights', 'St. Peters', 'St. Pete Beach', 'Land O Lakes'])
bus_df['city'] = bus_df['city'].replace(['Philadelphia \(Northeast Philly\)', 'PHILADELPHIA', 'philadelphia'], 'Philadelphia')
bus_df['city'] = bus_df['city'].replace(['Tampa Bay', 'South Tampa', 'TAMPA', 'New Tampa', 'tampa', 'Tampa Palms', 'Tampa,'], 'Tampa')
bus_df['city'] = bus_df['city'].replace(['TUCSON', 'Corona de Tucson', 'Corona De Tucson', 'South Tucson', 'tucson'], 'Tucson')
bus_df['city'] = bus_df['city'].replace(['Clearwater Beach', 'CLEARWATER', 'Clearwater/ Countryside'], 'Clearwater')
bus_df['city'] = bus_df['city'].replace(['Franklinville', 'Franklin '], 'Franklin')
bus_df['city'] = bus_df['city'].replace(['Wilmington ', 'wilmington'], 'Wilmington')
bus_df['city'] = bus_df['city'].replace(['\u200bLargo', 'LARGO'], 'Largo')
bus_df['city'] = bus_df['city'].replace(['lutz', 'Lutz fl'], 'Lutz')
bus_df['city'] = bus_df['city'].replace(['RIVERVIEW', 'Riverview Fl', 'River View'], 'Riverview')
bus_df['city'] = bus_df['city'].replace(['Eagleville', 'Eagle,'], 'Eagle')
bus_df['city'] = bus_df['city'].replace(['Indianapolis city \(balance\)', 'indianapolis'], 'Indianapolis')
bus_df['city'] = bus_df['city'].replace(['O\'fallon', 'O\'Fallon'], 'O Fallon')
bus_df['city'] = bus_df['city'].replace(['West Deptford', 'Deptford Twp', 'Deptford Township'], 'Deptford')
bus_df['city'] = bus_df['city'].replace(['Saint Charles', 'St Charles'], 'St. Charles')
bus_df['city'] = bus_df['city'].replace(['Mt.Juliet', 'Mount Juliet', 'Mt Juliet'], 'Mt. Juliet')
bus_df['city'] = bus_df['city'].replace(['Mt.Laurel', 'Mount Laurel', 'Mt Laurel'], 'Mt. Laurel')
bus_df['city'] = bus_df['city'].replace(['Mt.Holly', 'Mount Holly', 'Mt Holly'], 'Mt. Holly')

In [57]:
review_df['city'] = review_df['city'].replace(['Saint Louis', 'East St.Louis', 'Saint Louis,', 'St Louis'], 'St. Louis')
review_df['city'] = review_df['city'].replace(['St Petersburg', 'Saint Petersburg'], 'St. Petersburg')
review_df['city'] = review_df['city'].replace(['Saint Albert', 'St Albert'], 'St. Albert')
review_df['city'] = review_df['city'].replace(['Saint Rose', 'St Rose'], 'St. Rose')
review_df['city'] = review_df['city'].replace(['TRENTON', 'NASHVILLE', 'NEW ORLEANS', 'Boise City', 'Pinellas Park', 'King Of Prussia', 'East Norristown', 'UPPER MORELAND', 'RADNOR', 'Goodlettsville', 'Springhill', 'Washington Twp', 'Fairview Hts', 'Saint Peters', 'St Pete Beach', 'Land O\' Lakes', 'BRANDON', 'wimauma'], ['Trenton', 'Nashville', 'New Orleans', 'Boise', 'Pinellas', 'King of Prussia', 'Norristown', 'Upper Moreland', 'Radnor', 'Goodletsville', 'Spring Hill', 'Washington Township', 'Fairview Heights', 'St. Peters', 'St. Pete Beach', 'Land O Lakes', 'Brandon', 'Wimauma'])
review_df['city'] = review_df['city'].replace(['Philadelphia \(Northeast Philly\)', 'PHILADELPHIA', 'philadelphia'], 'Philadelphia')
review_df['city'] = review_df['city'].replace(['Tampa Bay', 'South Tampa', 'TAMPA', 'New Tampa', 'tampa', 'Tampa Palms', 'Tampa,'], 'Tampa')
review_df['city'] = review_df['city'].replace(['TUCSON', 'Corona de Tucson', 'Corona De Tucson', 'South Tucson', 'tucson'], 'Tucson')
review_df['city'] = review_df['city'].replace(['Clearwater Beach', 'CLEARWATER', 'Clearwater/ Countryside'], 'Clearwater')
review_df['city'] = review_df['city'].replace(['Franklinville', 'Franklin '], 'Franklin')
review_df['city'] = review_df['city'].replace(['Wilmington ', 'wilmington'], 'Wilmington')
review_df['city'] = review_df['city'].replace(['\u200bLargo', 'LARGO'], 'Largo')
review_df['city'] = review_df['city'].replace(['lutz', 'Lutz fl'], 'Lutz')
review_df['city'] = review_df['city'].replace(['RIVERVIEW', 'Riverview Fl', 'River View'], 'Riverview')
review_df['city'] = review_df['city'].replace(['Eagleville', 'Eagle,'], 'Eagle')
review_df['city'] = review_df['city'].replace(['Indianapolis city \(balance\)', 'indianapolis'], 'Indianapolis')
review_df['city'] = review_df['city'].replace(['O\'fallon', 'O\'Fallon'], 'O Fallon')
review_df['city'] = review_df['city'].replace(['West Deptford', 'Deptford Twp', 'Deptford Township'], 'Deptford')
review_df['city'] = review_df['city'].replace(['Saint Charles', 'St Charles'], 'St. Charles')
review_df['city'] = review_df['city'].replace(['Mt.Juliet', 'Mount Juliet', 'Mt Juliet'], 'Mt. Juliet')
review_df['city'] = review_df['city'].replace(['Mt.Laurel', 'Mount Laurel', 'Mt Laurel'], 'Mt. Laurel')
review_df['city'] = review_df['city'].replace(['Mt.Holly', 'Mount Holly', 'Mt Holly'], 'Mt. Holly')

In [74]:
bus_df['name'].drop_duplicates(keep = False, inplace = True)
chain_bus = pd.DataFrame()
chain_bus['name'] = bus_df['name'].value_counts().index
chain_bus['count'] = bus_df['name'].value_counts().values
chain_bus1 = list(chain_bus.loc[chain_bus['count']>1]['name'])
bus_df['chain'] = np.where(bus_df['name'].isin(chain_bus1), 1, 0)

In [77]:
review_df['stars'].value_counts()

5.0    552303
1.0    187171
4.0    142625
3.0     74037
2.0     69608
Name: stars, dtype: int64

In [79]:
review_df.groupby(['business_id'])['review_date']
review_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,review_date,name,...,longitude,review_count,is_open,categories,earliest_checkin_date,latest_checkin_date,number_of_checkins,average_checkin_frequency,sentiment,influence
0,rjto3jNNZ4ABy5MB8i3ddA,rCvoCWEMaaN8AIYQywoGQw,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,0,0,0,It took us about 45-50 minutes to be seated ev...,2020-02-02,Turning Point of North Wales,...,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,1,0
1,jlrm5sNt-WCF3g-Kvp8Stw,TW54JlaMAPPrxFpqvhQa-g,XQfwVwDr-v0ZS3_CbbE5Xw,1.0,0,0,0,Horrible experience. I looked on yelp to see t...,2020-08-02,Turning Point of North Wales,...,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,-1,0
2,Tqwm99IUIagqHo8Fi_7ong,GqSA5t_OD1uxDZMwVLpoXA,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,0,0,0,Been here multiple times for breakfast and eve...,2020-02-25,Turning Point of North Wales,...,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,1,0
3,6mqdeMPwfAUour-cso3HAg,rslPC4SPqIEp06X20TUn3w,XQfwVwDr-v0ZS3_CbbE5Xw,5.0,0,0,0,I'm very surprised by the negative reviews on ...,2020-02-16,Turning Point of North Wales,...,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,1,0
4,RxFzeqmEsc-lKqn5VsMnGw,OqX0IKY2ilJUQYzna0qc_A,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,This place is OKAY. Maybe I should try a diffe...,2020-11-14,Turning Point of North Wales,...,-75.223639,169,1,"Restaurants, Breakfast & Brunch, Food, Juice B...",2017-04-15,2022-01-16,177,9,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025739,nkhDNmwRvOafKVVJjS7ADg,nnf6O3EBML84OzwLJKh-DQ,nRh8d_hu5qUPP4MBzMS0sw,1.0,9,10,0,Not a single sales person was wearing a mask a...,2020-09-25,Consign Furniture Boise,...,-116.405328,8,1,"Home & Garden, Furniture Stores, Mattresses, F...",2019-08-30,2021-09-02,7,122,-1,-19
1025740,Acf5zcbZLOuN32dS24IObw,Ik4CAdGjhx9YABc5tIW-yg,nRh8d_hu5qUPP4MBzMS0sw,5.0,3,0,0,LOTS of furniture to choose from. Staff was re...,2020-02-06,Consign Furniture Boise,...,-116.405328,8,1,"Home & Garden, Furniture Stores, Mattresses, F...",2019-08-30,2021-09-02,7,122,1,3
1025741,7MZu6bFdFoqr7MyPKqvoew,aYveEctPYcZiubXyEgLhTA,vI4vyi1dfG93oAiSRFDymA,5.0,4,1,2,Love this office. All the staff us super kind ...,2020-02-17,Aesthetic Dermatology Associates,...,-75.501140,5,1,"Medical Spas, Doctors, Laser Hair Removal, Der...",2020-02-12,2020-02-12,1,0,1,7
1025742,3emHuLQvuAw0l66TzSWmKA,oz-So7Kwo5tW51HrT-BgIg,vI4vyi1dfG93oAiSRFDymA,1.0,0,0,0,It was a HUGE mistake to give this place a try...,2021-09-22,Aesthetic Dermatology Associates,...,-75.501140,5,1,"Medical Spas, Doctors, Laser Hair Removal, Der...",2020-02-12,2020-02-12,1,0,-1,0
1025743,T-adPwD-eP2LvuDINKOA9g,09zj3b4tM-xJjozvtk34wQ,vI4vyi1dfG93oAiSRFDymA,1.0,0,0,0,Friendly staff but the praise ends there. Gett...,2021-03-09,Aesthetic Dermatology Associates,...,-75.501140,5,1,"Medical Spas, Doctors, Laser Hair Removal, Der...",2020-02-12,2020-02-12,1,0,-1,0

In [75]:
bus_df.to_csv("bus_df.csv", index = False)
review_df.to_csv("review_df.csv", index = False)

KeyboardInterrupt: